<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>유스레시피</title>
    <link rel="stylesheet" href="../../static/css/templateBody.css" />
    <link rel="stylesheet" href="../../static/css/orderOK.css" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/header.css"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.btnToOrderList').click(function() {
                window.location.href = '/orderList';
            });
        });
    </script>

</head>
<body >
    <div class="templateBody">

        <header>
            <div class="header" th:replace="header :: header"></div>
        </header>

        <div class="mainBody">
            <div class="orderOKmain">
                <div class="successBox">
                    <span class="sucBox_coment1">주문완료</span><br>
                    <img src="../../static/images/icon/successicon.png" class="suclogo">
                    <p class="sucBox_coment2">주문이<br> 완료되었습니다.</p>
                    <span class="sucBox_coment3">결제해주셔서 감사합니다.</span>

                    <a th:href="@{/orderDetail/{userid}(userid=${userid})}" class="btnToOrderList">주문목록</a>
                </div>
            </div>
        </div>
        <div class="footer" th:replace="footer :: footer"></div>
    </div>
</body>
</html>