.e138_572 {
    background-color: rgba(255, 255, 255, 1);
    width: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .e138_598 {
        color: rgba(0, 0, 0, 1);
        height: 89px;
        width: 100%;
        font-family: Inter;
        text-align: center;
        font-size: 32px;
        letter-spacing: 0;
    }

    .e138_599 {
        color: rgba(29.000000171363354, 29.000000171363354, 29.000000171363354, 1);
        width: 79px;
        height: 36px;
        left: 0px;
        top: 399px;
        font-family: Poppins;
        text-align: left;
        font-size: 20px;
        letter-spacing: 0;
    }

    .e138_600 {
        color: rgba(29.000000171363354, 29.000000171363354, 29.000000171363354, 1);
        width: 79px;
        height: 36px;
        left: 0px;
        top: 231px;
        font-family: Poppins;
        text-align: left;
        font-size: 20px;
        letter-spacing: 0;
    }

    .e138_601 {
        width: 581px;
        height: 82px;
        left: 0px;
        top: 446px;
        margin-bottom: 50px;
    }

    .e138_602 {
        background-color: rgba(247.00000047683716, 247.00000047683716, 251.00000023841858, 1);
        width: 581px;
        height: 82px;
        left: 0px;
        top: 0px;
        font-family: Poppins;
        text-align: left;
        font-size: 16px;
        letter-spacing: 0;
        border: none;
    }

    .e138_604 {
        width: 581px;
        height: 81px;
        left: 0px;
        top: 279px;
        margin-bottom: 50px;
    }

    .e138_605 {
        background-color: rgba(247.00000047683716, 247.00000047683716, 251.00000023841858, 1);
        width: 581px;
        height: 81px;
        left: 0px;
        top: 0px;
        font-family: Poppins;
        text-align: left;
        font-size: 16px;
        letter-spacing: 0;
        border: none;
    }

    .e138_609 {
        width: 578px;
        height: 70px;
        left: 3px;
        top: 608px;
        margin-bottom: 50px;
    }

    .e138_610 {
        background-color: rgba(213.5625395178795, 83.7318965792656, 83.7318965792656, 1);
        width: 578px;
        height: 70px;
        left: 0px;
        top: 0px;
        color: rgba(255, 255, 255, 1);
        font-family: Poppins;
        text-align: center;
        font-size: 24px;
        letter-spacing: 0;
        border: none;
    }

    .e138_612 {
        width: 50%;
        height: 55px;
        left: 18px;
        top: 0px;
        border: none;
        background-color: #ffffff;
    }

    .e138_613 {
        color: rgba(154.0625050663948, 152.13672280311584, 152.13672280311584, 1);
        width: 50%;
        height: 48px;
        left: 38px;
        top: 7px;
        font-family: Inter;
        text-align: left;
        font-size: 24px;
        letter-spacing: 0;
    }

    .e138_615 {
        width: 240px;
        height: 50px;
        left: 333px;
        top: 5px;
        border: none;
        background-color: #ffffff;
    }

    .e138_616 {

        color: rgba(213.5625395178795, 83.7318965792656, 83.7318965792656, 1);
        width: 223px;
        height: 48px;
        left: 2px;
        top: 2px;
        font-family: Inter;
        text-align: left;
        font-size: 24px;
        letter-spacing: 0;
    }

    .e138_631 {
        width: 70%;
        height: 3.1589067361892376e-8px;
        left: 6px;
        top: 68px;
        display: flex;
        margin-bottom: 20px;
    }

    .e138_608 {
        transform: rotate(-6.753433963440239e-9deg);
        width: 270px;
        height: 0px;
        left: 0px;
        top: 3.1589067361892376e-8px;
        border: 2px solid rgba(213.5625395178795, 83.7318965792656, 83.7318965792656, 1);
    }

    .e138_630 {
        width: 270px;
        height: 0px;
        text-align: right;
        border: 2px solid rgba(154.0625050663948, 152.13672280311584, 152.13672280311584, 1);
    }