
@font-face {
    font-family:'Glyphicons Halflings';
    src:url(//recipe1.ezmember.co.kr/static/css/fonts/glyphicons-halflings-regular.eot);
    src:url(//recipe1.ezmember.co.kr/static/css/fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(//recipe1.ezmember.co.kr/static/css/fonts/glyphicons-halflings-regular.woff2) format('woff2'), url(//recipe1.ezmember.co.kr/static/css/fonts/glyphicons-halflings-regular.woff) format('woff'), url(//recipe1.ezmember.co.kr/static/css/fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(//recipe1.ezmember.co.kr/static/css/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}


/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('//recipe1.ezmember.co.kr/static/css/fonts/2021/montserrat-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/montserrat-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/montserrat-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/montserrat-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/montserrat-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/montserrat-v15-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('//recipe1.ezmember.co.kr/static/css/fonts/2021/montserrat-v15-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/montserrat-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/montserrat-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/montserrat-v15-latin-600.woff') format('woff'), /* Modern Browsers */
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/montserrat-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/montserrat-v15-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('//recipe1.ezmember.co.kr/static/css/fonts/2021/montserrat-v15-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/montserrat-v15-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/montserrat-v15-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/montserrat-v15-latin-800.woff') format('woff'), /* Modern Browsers */
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/montserrat-v15-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/montserrat-v15-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}




/* noto-sans-kr-300 - latin_korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url('//recipe1.ezmember.co.kr/static/css/fonts/2021/noto-sans-kr-v13-latin_korean-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/noto-sans-kr-v13-latin_korean-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/noto-sans-kr-v13-latin_korean-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/noto-sans-kr-v13-latin_korean-300.woff') format('woff'), /* Modern Browsers */
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/noto-sans-kr-v13-latin_korean-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/noto-sans-kr-v13-latin_korean-300.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-regular - latin_korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('//recipe1.ezmember.co.kr/static/css/fonts/2021/noto-sans-kr-v13-latin_korean-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/noto-sans-kr-v13-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/noto-sans-kr-v13-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/noto-sans-kr-v13-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/noto-sans-kr-v13-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/noto-sans-kr-v13-latin_korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-500 - latin_korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url('//recipe1.ezmember.co.kr/static/css/fonts/2021/noto-sans-kr-v13-latin_korean-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/noto-sans-kr-v13-latin_korean-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/noto-sans-kr-v13-latin_korean-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/noto-sans-kr-v13-latin_korean-500.woff') format('woff'), /* Modern Browsers */
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/noto-sans-kr-v13-latin_korean-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/noto-sans-kr-v13-latin_korean-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-700 - latin_korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url('//recipe1.ezmember.co.kr/static/css/fonts/2021/noto-sans-kr-v13-latin_korean-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/noto-sans-kr-v13-latin_korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/noto-sans-kr-v13-latin_korean-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/noto-sans-kr-v13-latin_korean-700.woff') format('woff'), /* Modern Browsers */
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/noto-sans-kr-v13-latin_korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('//recipe1.ezmember.co.kr/static/css/fonts/2021/noto-sans-kr-v13-latin_korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}







