
.footer {

    margin-top: 5px;
    width:100%;
    padding: 0;
    background:rgba(242.24999696016312, 242.24999696016312, 242.24999696016312, 1);
    box-sizing: border-box;
    bottom:0;
    border:10px solid #F2F2F2 ;
}
.footerDivTag {
    display: flex;
    justify-content: center;
    height:200px;

}
.footerSpanTag {
    margin: 50px;
    color:rgba(0,0,0,5);
    left:352px;
    top:29px;
    font-family: Cafe24Simplehae;
    text-align:left;
    font-size:22px;
    letter-spacing:0;
}

.footerLogo {
    margin:50px;
    width:111px;
    height:95px;
    background-image:url(../images/image_27_gray.png);
    background-repeat:no-repeat;
    background-size:cover;
}