$연한그레이 : #f0f0f0;
$애플배경색 : #d9d9d9;
$버튼색상 : #D65454;
$녹색: #74B243;

//초기화

body{
    overflow-y: auto;
    font-family:'Poppins', 'Noto Sans KR', sans-serif;

  }
  
  a{
    text-decoration: none;
    color: black;
  }
  
  
  
  
  
  .mainBody{
    width: 905px; height: 1800px;
    margin: 0 auto;
    ul{
      list-style: none;  
      text-decoration: none;  
    }
  
  }


////레시피 목록 //// 



.sortContainer{
    width: 500px;
    height: 88px;
    margin: 0 auto;
  
    ul{
      display: flex;
      justify-content: space-between;
      gap: 15px;
      margin-top: 0;
      margin-bottom: 5px;
  
      
      li{
        cursor: pointer;
        border-radius: 8px;
        padding: 2px;
      }
  
  
      :hover{
        background-color: $녹색;
        color: #fff;
        font-weight: 600;
      }
      
    }
  
  
  }
  
  .HowAboutContainer{
    width: 100%;
    max-width: 900px;
    height: 350px;
    position: relative;
  
    h3{
      margin-top: 0;
    }
  
  
  }
  
  
  .serchbox{
    position: absolute;
    right: 0;
    top: 0;
  
    text-align: center;
  
  
    input{
      width: 250px;
      height: 21px;
    }
    button{
      height: 27px;
      margin: 0;
      background-color: $녹색;
      border: 0;
      border-radius: 3px;
      color: #fff;
      cursor: pointer;
    }
  
  }
  
  %이레시피어때요{
    margin: 0;
    padding: 0;
    width: 50%;
    height: 300px;
    border-radius: 5px
  }
  
  
  .Thisrecipe{
    @extend %이레시피어때요;
    background-image: url(../images/오믈렛.png);
    background-size: auto;
  
    float: left;
  
    h3{
      color: #fff;
      position: relative;
      top: 250px;
      left: 180px; 
  
    }
  }
  
  .ThisrecipeInfo{
    @extend %이레시피어때요;
    background-color:#f2f2f2;
    float: right;
  }
  
  .infobox{
    width: 80%;height: 80%;
    padding: 50px 30px 30px 30px;
  }
  
  
  //주간 인기 레시피
  .hotrecipecontainer{
    margin: 0 auto;
  }
  
  .hotrecipebox{
    display: flex;
    justify-content: space-evenly;
  
    
  
  }
  
  
  %hotrecipe{
    height: 260px;
    width: 160px;
    border-radius: 10px;
  
    background-image: url(../images/김치볶음밥.png);
  
    span{
      color: #fff;
      position: relative;
      top:220px;
      left: 14px;
  
    }
  
  }
  
  .hotrecipe1{
    @extend %hotrecipe;
    background-image: url(../images/김치볶음밥.png);
  }
  .hotrecipe2{
    @extend %hotrecipe;
    background-image: url(../images/떡볶이.png);
  }
  .hotrecipe3{
    @extend %hotrecipe;
    background-image: url(../images/프레첼.png);
  }
  .hotrecipe4{
    @extend %hotrecipe;
    background-image: url(../images/만두.png);
  }
  
  
  
  
  
  
  
  //레시피 리스트//
  .recipeContainer{
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  
  .recipeItem  {
    width: 200px;
    height: 400px;
    margin-bottom: 20px;
  
  
    p{
      font-size: 30px;
    }
  
    span{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    }
  
  
  }
  
  .recipeItem_img{
    width: 220px;
    height: 250px;
    background-image: url(../images/된장국.png);
  }
  
  
  
  
  
  
  