body{
    margin: 0;
}
.templateBody {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
    min-height: 945px;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
}