<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>유스레시피</title>
    <link rel="stylesheet" href="../static/css/templateBody.css" />
    <link rel="stylesheet" href="../static/css/orderPage.css" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        $(document).ready(function(){
            $("header").load("./header.html");
            $(".footer").load("./footer.html");
        });
    </script>
</head>
<body >
    <div class="templateBody">
        <header></header>
        <div class="mainBody">
            <div class="orderTop">
                <h2 class="orderTopLeft">장바구니</h2>
                <div class="orderTopRight">
                    <span>장바구니</span>
                    <span>></span>
                    <span class="whitegray">주문서</span>
                    <span>></span>
                    <span class="whitegray">주문완료</span>
                </div>
            </div>

            <div class="cartbox">
                <table class="cartTable">
                    <thead class="cartTableCol">
                    <tr >
                        <th>전체</th>
                        <th>체크</th>
                        <th>상품명</th>
                        <th>판매가</th>
                        <th>회원할인</th>
                        <th>수량</th>
                        <th>(적립예정)</th>
                        <th>주문관리</th>
                        <th>주문금액</th>
                        <th>배송비/배송형태 </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>체크</td>
                        <td>
                            <span class="cartTableGoodsName">상품명</span>
                        </td>
                        <td>8,000</td>
                        <td>0</td>
                        <td>2</td>
                        <td>160</td>
                        <td>수량/삭제</td>
                        <td>160</td>
                        <td>
                            <span>택배배송</span><br>
                            <span>배송비무료</span><br>
                            <span>0원이상무료</span><br>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>체크</td>
                        <td>
                            <span class="cartTableGoodsName">상품명</span>
                        </td>
                        <td>8,000</td>
                        <td>0</td>
                        <td>2</td>
                        <td>160</td>
                        <td>수량/삭제</td>
                        <td>160</td>
                        <td>
                            <span>택배배송</span><br>
                            <span>배송비무료</span><br>
                            <span>0원이상무료</span><br>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <div class="deletebtnbox"> <button class="deletebtn" id="deletebtn">물품모두삭제</button></div>
                <div class="orderPricebox">
                    <span class="orderPriceFt1">최종결제금액</span><span class="orderPriceFt2">16,000원</span>
                </div>

                <button class="orderbtn">주문하기</button>

            </div>  <!-- cartbox 끝 -->










        </div>
        <div class="footer"></div>
    </div>
</body>
</html>