<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <div style="width: 1440px; height: 200px; left: 44px; top: 1859px; position: absolute">
    <div class="Rectangle13" style="width: 1440px; height: 200px; left: -40px; top: 0px; position: absolute; background: #F2F2F2; border: 1px rgba(0, 0, 0, 0.37) solid"></div>
    <div class="rec" style="width: 1023px; height: 151px; left: 352px; top: 36px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">(주)유스레시피     사업자번호 : 157-45-48137    서비스명 : 유스레시피     사업자정보확인    고객센터 : 1877-4567<br/>계좌번호 안내 : 신한은행 100-000-000000 (주)유스레시피<br/>통신판매업등록 : 2021서울강북1234호     대표 : 김아무개    주소 : 서울시 설경구 강호동 123-456<br/>개인정보책임자 : 김아무개     운영시간 : 오전10시 ~ 오후6시 [점심시간 : 오전11시30 ~ 오후1시]<br/>이메일 : yuyuyuyu@yuyuyuyu.com     ©asdfg Corp.</div>
    <img class="Image27" style="width: 111px; height: 78px; left: 187px; top: 63px; position: absolute" src="https://via.placeholder.com/111x78" />
  </div>
  <div class="Frame30" style="width: 1162px; height: 1607px; left: 100px; top: 130px; position: absolute">
    <div style="width: 100.17px; height: 35px; left: 102px; top: 284px; position: absolute; color: #333333; font-size: 28px; font-family: Noto Sans; font-weight: 500; line-height: 35px; word-wrap: break-word">마이</div>
    <div class="List" style="width: 158px; height: 201px; left: 99px; top: 357px; position: absolute; background: white; border: 1px #F2F2F2 solid">
      <div class="ItemLink" style="width: 156px; height: 50px; left: 1px; top: 1px; position: absolute; background: white; border-bottom: 1px #F2F2F2 solid">
        <div style="width: 65px; height: 19px; left: 20px; top: 14.50px; position: absolute; color: #666666; font-size: 14px; font-family: Noto Sans; font-weight: 400; line-height: 19px; word-wrap: break-word">주문내역</div>
        <div class="Svg" style="width: 19px; height: 19px; left: 166px; top: 15px; position: absolute">
          <div class="Vector" style="width: 6.33px; height: 6.33px; left: 8.19px; top: 5.02px; position: absolute; transform: rotate(45deg); transform-origin: 0 0; border: 1.42px #999999 solid"></div>
        </div>
      </div>
      <div class="ItemLink" style="width: 156px; height: 50px; left: 1px; top: 51px; position: absolute; background: white; border-bottom: 1px #F2F2F2 solid">
        <div class="1" style="width: 78.90px; height: 19px; left: 20px; top: 14.50px; position: absolute; color: #666666; font-size: 14px; font-family: Noto Sans; font-weight: 500; line-height: 19px; word-wrap: break-word">1:1 문의</div>
        <div class="Svg" style="width: 19px; height: 19px; left: 166px; top: 15px; position: absolute">
          <div class="Vector" style="width: 6.33px; height: 6.33px; left: 8.19px; top: 5.02px; position: absolute; transform: rotate(45deg); transform-origin: 0 0; border: 1.42px #999999 solid"></div>
        </div>
      </div>
      <div class="ItemLink" style="width: 156px; height: 50px; left: 1px; top: 101px; position: absolute; background: #FAFAFA; border-bottom: 1px #F2F2F2 solid">
        <div style="width: 58px; height: 19px; left: 20px; top: 15px; position: absolute; font-size: 14px; font-family: Noto Sans; font-weight: 400; line-height: 19px; word-wrap: break-word">정보변경</div>
        <div class="Svg" style="width: 19px; height: 19px; left: 166px; top: 15px; position: absolute">
          <div class="Vector" style="width: 6.33px; height: 6.33px; left: 8.19px; top: 5.02px; position: absolute; transform: rotate(45deg); transform-origin: 0 0; border: 1.42px solid"></div>
        </div>
      </div>
    </div>
    <div class="Link" style="width: 157px; height: 55px; left: 82px; top: 596px; position: absolute; background: #FAFAFA">
      <div class="DivCssRmee6s" style="width: 129.09px; height: 40px; left: 20px; top: 8px; position: absolute">


        </div>
      </div>

      </div>
    </div>
    <div class="Heading2" style="width: 138px; height: 51px; left: 430px; top: 250px; position: absolute; color: #333333; font-size: 24px; font-family: Noto Sans; font-weight: 500; line-height: 48px; word-wrap: break-word">정보변경</div>
    <div class="Frame39" style="width: 817px; height: 157px; left: 322px; top: 1px; position: absolute">


    </div>
    <div class="Frame25" style="width: 331px; height: 605.40px; left: 535px; top: 336px; position: absolute">
      <input type="text" class="Rectangle90" style="border: none; width: 330px; height: 55px; left: 1px; top: 145px; position: absolute; background: #F7F7FB" placeholder="이메일 example@email.com">
      <input type="text" class="Rectangle102" style="border: none; width: 330px; height: 55px; left: 1px; top: 249px; position: absolute; background: #F7F7FB" placeholder="주소를 검색해주세요">
      <input type="text" class="Rectangle98" style="width: 330px; height: 55px; left: 1px; top: 32px; position: absolute; background: #F7F7FB;border: none" placeholder="기존ID">
      <input type="text" style="border: none; width: 330px; height: 55px; left: 1px; top: 438.50px; position: absolute; background: #F7F7FB" placeholder="닉네임">
      <input type="text" class="Rectangle104" style="border: none; width: 330px; height: 55px; left: 1px; top: 312px; position: absolute; background: #F7F7FB" placeholder="상세주소">
      <input type="text" class="InputText" style="width: 330px; border: none; height: 55px; left: 1px; top: 616.50px; position: absolute;background: #F7F7FB" placeholder="새 비밀번호">
      <div style="width: 50px; height: 24px; left: 1px; top: 113px; position: absolute; color: #1D1D1D; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">이메일</div>
      <div style="width: 70px; height: 24px; left: 1px; top: 217px; position: absolute; color: #1D1D1D; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">주소 입력</div>
      <div style="width: 50px; height: 24px; left: 1px; top: 0px; position: absolute; color: #1D1D1D; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">아이디</div>
      <div style="width: 65px; height: 24px; left: 0px; top: 518px; position: absolute; color: #1D1D1D; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">비밀번호</div>
      <div class="Btn" style="width: 77px; height: 25px; left: 246px; top: 160px; position: absolute">
        <div class="Button" style="width: 85px; height: 25px; left: 0px; top: 0px; position: absolute; background: #D65454; border-radius: 20px"></div>
        <div style="width: 80px; height: 20px; left: 4px; top: 3px; position: absolute; text-align: center; color: white; font-size: 14px; font-family: Poppins; font-weight: 700; word-wrap: break-word">이메일 변경</div>
      </div>
      <div style="width: 77px; height: 25px; left: 246px; top: 264px; position: absolute">
        <div class="Rectangle103" style="width: 77px; height: 25px; left: 0px; top: 0px; position: absolute; background: #D65454; border-radius: 20px"></div>
        <div style="width: 68px; height: 20px; left: 4px; top: 3px; position: absolute; text-align: center; color: white; font-size: 14px; font-family: Poppins; font-weight: 700; word-wrap: break-word">주소 찾기</div>
      </div>

      <div style="width: 59px; height: 24px; left: 0px; top: 396px; position: absolute; color: #1D1D1D; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">닉네임</div>

    </div>

    <button class="Frame50" style="width: 331px; padding-left: 44px; padding-right: 44px; padding-top: 15px; padding-bottom: 15px; left: 535px; top: 1165px; position: absolute; background: #D65454; justify-content: center; align-items: center; gap: 10px; display: inline-flex;color: white;border: none">
      변경하기
    </button>
  </div>
  <div class="Line13" style="width: 803px; height: 0px; left: 436px; top: 348px; position: absolute; border: 1px black solid; margin-top: -20px;"></div>
</div>
</body>
</html>