<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>유스레시피</title>
    <link rel="stylesheet" href="../static/css/templateBody.css"/>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/header.css"/>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/store_20230103.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap_20211222.css">
    <link rel="stylesheet" type="text/css" href="../static/css/ez_recipe_20240405.css">
    <script src="../static/js/ingredientDetail.js"></script>
</head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<body>
<div class="templateBody body-goods body-goods-view pc">
    <header>
        <div class="header" th:replace="header :: header"></div>
    </header>
    <div class="mainBody">
        <div class="contentBody">
            <div class="top_area"></div>
            <div id="wrap">
                <div id="header_warp">
                    <div id="container">
                        <div id="contents">
                            <!-- 본문 시작 -->

                            <!-- //location_wrap -->

                            <div class="sub_content">

                                <!-- //side_cont -->
                                <div class="content_box" style="margin-top: 40px;">

                                    <!-- 상품 상단 -->
                                    <div class="item_photo_info_sec s_contents">
                                        <div class="s_view">
                                            <!--상단 썸네일//-->
                                            <div style="width: 100%">
                                                <div class="s_view_pic">
                                                    <!--                                                <img th:src="@{'../static/images/'+${ingredient.ingredientImage}}"-->
                                                    <!--                                                     class="middle">-->
                                                    <img th:src="@{../static/images/${ingredient.ingredientImage}}"
                                                         class="middle">
                                                    <div class="s_view_pic_zoom"><a href="#lyZoom" id="mainImage">

                                                    </a>
                                                    </div>

                                                </div>

                                                <form name="frmView" id="frmView"
                                                      style="display: inline-block;vertical-align: top;width: 40%;margin-left: 50px;"
                                                      method="post">
                                                    <div class="s_view_info btn_layer">
                                                        <h3>
                                                            <p th:text="${ingredient.ingredientName}"></p>
                                                        </h3>


                                                        <div class="price_box">
                                                            <!--                                                    세일-->
                                                            <!--                                                    <p class="dc">60<small>%</small></p>-->
                                                            <p class="price" style=""
                                                               th:text="${#numbers.formatInteger(ingredient.ingredientPrice, 3, 'COMMA')+'원'}">
                                                                <small id="won" style="">원</small>
                                                            </p>

                                                            <div class="info_delivery_area">

                                                                <dl class="info_delivery">
                                                                    <dt><img
                                                                            src="//recipe1.ezmember.co.kr/img/mobile/icon_point.png"
                                                                            alt="구매아이콘">적립
                                                                    </dt>
                                                                    <dd><b class="color_point1"
                                                                           th:text="${#numbers.formatInteger(ingredient.ingredientPrice*0.05, 3, 'COMMA') + '원'}"></b>
                                                                        적립<span> (모든 회원 구매액의 0.5% 적립)</span></dd>
                                                                </dl>

                                                                <div class="option">
                                                                </div>
                                                                <div class="price_total" style="padding-top:0;">
                                                                    <div class="item_choice_list">
                                                                        <table class="option_display_area" border="0"
                                                                               cellpadding="0"
                                                                               cellspacing="0">
                                                                            <tbody id="option_display_item_0">
                                                                            <tr class="check optionKey_0">
                                                                                <td class="cart_prdt_name" colspan="2">
                                                                                    <input type="hidden"
                                                                                           name="goodsNo[]"
                                                                                           value="1000044126">
                                                                                    <input type="hidden"
                                                                                           name="optionSno[]"
                                                                                           value="199288">
                                                                                    <input type="hidden"
                                                                                           name="goodsPriceSum[]"
                                                                                           value="139000">
                                                                                    <input type="hidden"
                                                                                           name="addGoodsPriceSum[]"
                                                                                           value="0">
                                                                                    <input type="hidden"
                                                                                           name="couponApplyNo[]"
                                                                                           value="">
                                                                                    <input type="hidden"
                                                                                           name="couponSalePriceSum[]"
                                                                                           value="">
                                                                                    <input type="hidden"
                                                                                           name="couponAddPriceSum[]"
                                                                                           value="">
                                                                                    <div class="cart_tit_box">
                                                                                        <strong class="cart_tit">
                                                                                            <span th:text="${ingredient.ingredientName}"></span>
                                                                                            <span id="option_text_display_0"></span>
                                                                                        </strong>
                                                                                    </div>
                                                                                    <!-- //cart_tit_box -->
                                                                                </td>
                                                                                <!-- //cart_prdt_name -->
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="item_choice_price"
                                                                                    colspan="2">
                                                                                    <input type="hidden"
                                                                                           name="optionPriceSum[]"
                                                                                           value="0">
                                                                                    <input type="hidden"
                                                                                           name="option_price_0"
                                                                                           value="0.00">
                                                                                    <strong class="option_price_display_0"
                                                                                            th:text="${#numbers.formatInteger(ingredient.ingredientPrice, 3, 'COMMA')}"></strong><small>원</small>
                                                                                </td>
                                                                                <!-- //item_choice_price -->
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="2" height="10"></td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>

                                                                        <div class="total_price_division_line"
                                                                             style="border-top: 2px solid rgb(34, 34, 34); padding-top: 8px;">
                                                                            <div class="end_price item_total_box"
                                                                                 style="width: auto;">
                                                                                <div class="price_total1 dn">
                                                                                    총 상품금액
                                                                                    <span class="goods_total_price"
                                                                                          style="width : 140px; display : inline-block"
                                                                                          th:text="${#numbers.formatInteger(ingredient.ingredientPrice, 3, 'COMMA')+'원'}"></span>
                                                                                </div>
                                                                                <div class="price_total2">
                                                                                    주문금액
                                                                                    <span class="total_price"
                                                                                          style="display : inline-block"
                                                                                          th:text="${#numbers.formatInteger(ingredient.ingredientPrice, 3, 'COMMA')+'원'}"><b>원</b></span>
                                                                                </div>
                                                                            </div>
                                                                            <!-- //item_tatal_box -->
                                                                        </div>
                                                                        <!-- //item_price_cont -->
                                                                    </div>
                                                                    <!-- //item_choice_list -->

                                                                    <div class="btn_go_box">
                                                                        <button type="button" id="cartBtn"
                                                                                class="btn_go_cart"
                                                                                style="width: 100%;"
                                                                                th:onclick="|javascript:cartAdd(${ingredient.id})|" th:if="${ingredient.ingredientQty!=0}">장바구니
                                                                        </button>
                                                                        <button type="button"
                                                                                class="btn_soldout"
                                                                                style="width: 100%;"
                                                                                th:if="${ingredient.ingredientQty==0}" disabled="disabled">품절
                                                                        </button>
                                                                    </div>
                                                                    <!-- //btn_choice_box -->

                                                                </div>
                                                                <!-- //item_info_box -->
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <input type="hidden" name="deliveryCollectFl" value="pre"></form>
                                            </div>
                                            <!-- //item_photo_info_sec -->
                                            <!-- //상품 상단 끝 -->

                                            <!--메뉴 탭 //-->


                                            <div id="page-detail-video" style="display: none;"></div>
                                            <div id="page-detail"></div>


                                            <!--상세정보 //-->
                                            <div class="D_goods_info">
                                                <div class="info_cont detail" id="goodsDetailInfo"
                                                     style="padding-bottom:100px; height:2500px;">
                                                    <div class="detail_explain_box">
                                                        <div class="image-manual">
                                                            <!-- 이미지 -->
                                                        </div>
                                                        <div class="txt-manual">
                                                            <!-- 상품상세 공통정보 관리를 상세정보 상단에 노출-->
                                                            <div align="center" style="text-align: center;"
                                                                 th:utext="${ingredient.ingredientDetail}">

                                                            </div>
                                                        </div>
                                                        <!--                                                    <div style="padding:10px 0;text-align:center" id="external-video">-->
                                                        <!--                                                        <iframe width="640" height="360"-->
                                                        <!--                                                                src="https://www.youtube.com/embed/DMU-c6Dre58"-->
                                                        <!--                                                                frameborder="0"-->
                                                        <!--                                                                allowfullscreen=""></iframe>-->
                                                        <!--                                                    </div>-->
                                                    </div>
                                                    <!-- //detail_explain_box -->

                                                </div>
                                                <div id="page-review" style="height: 40px;"></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="view_reply">
                <div class="reply_write" th:if="${session.userid != null}">
                    <form id="insCmtFrm1" method="post">
                        <input type="hidden" class="ingredientId" name="ingredientId" th:value="${ingredient.id}">
                        <div class="gradeBox">
                            <input type="radio" class="gradeStar" name="gradeStar" value="1">
                            <input type="radio" class="gradeStar" name="gradeStar" value="2">
                            <input type="radio" class="gradeStar" name="gradeStar" value="3">
                            <input type="radio" class="gradeStar" name="gradeStar" value="4">
                            <input type="radio" class="gradeStar" name="gradeStar" value="5">
                            <p class="gradeText">해당 상품의 별점을 적용해 주세요!</p>
                        </div>

                        <div class="input-group" style="width:auto;">
                        <textarea id="cmt_tx_content1" name="replyContent" class="replyContent form-control"
                                  placeholder="해당 상품의 후기를 작성해주세요."
                                  style="height:100px; width:100%; resize:none;"></textarea>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="insertReply()"
                                        style="height:100px; width:100px;">등록</button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="reply_tit" id="reply_tit">후기
                    <span id="recipeCommentListCount"
                          th:text="${reply.size}"></span>
                </div>
                <div class="goods_box_none" th:if="${reply.size()==0}">
                    <img src="../static/images/icon_none.png">
                    <p>등록된 후기가 없습니다.</p>
                </div>
                <div id="recipeCommentList_1">
                    <div class="media reply_list" th:id="'replyDiv_'+${r.Id}" th:each="r : ${reply}">
                        <div class="media-left"><a th:href="'/profile?id='+${r.replyMember.id}">
                            <img
                                    class="media-object"
                                    src="../static/images/chef2.png"
                                    data-holder-rendered="true"></a></div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <b class="info_name_f" th:text="${r.replyMember.nickname}" style="float:left;"></b>
                                <div class="replyStarBox">
                                </div>
                                <img th:each="star : ${#numbers.sequence(1,r.replyGrade)}"
                                     style="display: inline-block; width: 20px; height: 20px"
                                     src="../static/images/star2.png"/>
                                <img th:if="${r.replyGrade != 5}"
                                     th:each="star : ${#numbers.sequence((r.replyGrade)+1,5)}"
                                     style="display: inline-block; width: 20px; height: 20px"
                                     src="../static/images/noneStar2.png"/>
                                <p th:text="${#temporals.format(r.replyDate, 'yyyy-MM-dd HH:mm')}"
                                   style="margin-left: 5px"></p><span th:if="${r.replyMember.Userid == session.userid}">|</span>
                                <a th:href="'javascript:deleteReply('+${r.Id}+')'"
                                   th:if="${r.replyMember.Userid == session.userid}">삭제</a>
                            </h4>

                            <p th:text="${r.replyContent}" style="float:left;width: 60%"></p>
                        </div>
                        <div id="replyCommentDiv_39706325" style="padding-left:50px;"></div>
                    </div>

                </div>

            </div><!-- /view_reply -->

        </div>
    </div>
    <div class="footer" th:replace="footer :: footer"></div>
</div>
</body>
</html>