<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/footer.css" />
</head>
<div class=footer>
    <div class="footerDivTag">
        <div class="footerLogo"></div>
        <span  class="footerSpanTag">(주)유스레시피     사업자번호 : 157-45-48137    서비스명 : 유스레시피     사업자정보확인    고객센터 : 1877-4567
                <br>계좌번호 안내 : 신한은행 100-000-000000 (주)유스레시피
                <br>통신판매업등록 : 2021서울강북1234호     대표 : 김아무개    주소 : 서울시 설경구 강호동 123-456
                <br>개인정보책임자 : 김아무개     운영시간 : 오전10시 ~ 오후6시 [점심시간 : 오전11시30 ~ 오후1시]
                <br>이메일 : yuyuyuyu@yuyuyuyu.com     ©asdfg Corp.
            </span>
    </div>
</div>
</html>