<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>유스레시피</title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/header.css"/>

</head>
<div class="header">
    <div class=headerLeft>
        <div class="headerLogo"></div>
        <nav>
            <ul class="headerMenu">
                <li  class="recipeTag"><a>레시피 </a></li>
                <li  class="storeTag"><a>상점</a></li>
                <li  class="creatorTag"><a>크리에이터</a></li>
                <li  class="csTag"><a>고객센터</a> </li>
                <li  class="myPageTag"><a>마이페이지</a></li>
            </ul>
        </nav>
    </div>
    <nav>
        <ul class=headerRight>
            <li  class="loginTag">로그인</li>
            <li  class="joinTag">회원가입</li>
        </ul>
    </nav>
</div>
</html>