<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>유스레시피</title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/header.css" />
</head>
<div class="hedder">
    <div class=hedderLeft>
        <div class="hedderLogo"></div>
        <div class="hedderMenu">
            <div  class="recipeTag">레시피 </div>
            <div  class="storeTag">상점</div>
            <div  class="createrTag">크리에이터</div>
            <div  class="csTag">고객센터 </div>
            <div  class="myPageTag">마이페이지</div>
        </div>
    </div>
    <div class=hedderRight>
        <span  class="loginTag">로그인</span>
        <span  class="joingTag">회원가입</span>
    </div>
</div>
</html>