<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>유스레시피</title>
    <link rel="stylesheet" href="../static/css/templateBody.css"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <link rel="stylesheet" href="../static/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/header.css"/>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script>
        $(function (){
            //검색 기능
            $('#btnsearch').click(function() {
                console.log("검색버튼 클릭됨")
                var keyword = $('#searchbar').val(); // input 태그에서 값 가져오기
                var pageNum = 1; // pageNum 값 설정
                // '/listRecipe'로 GET 요청 수행, 'pageNum' 경로 변수  + 'keyword' 쿼리 파라미터 포함
                location.href = `/listRecipe/${pageNum}?keyword=${encodeURIComponent(keyword)}`;
            });
        })
    </script>
</head>
<body>
<div class="templateBody">
    <header>
        <div class="header" th:replace="header :: header"></div>
    </header>
    <div class="mainBody">
        <div class=e56_3>
            <div class=e56_56>
                <div class="e56_58" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url('../static/images/23_1.png')">
                    <div style="display: flex; justify-content: center; flex-wrap: wrap">
                        <div></div>
                        <div style="display: flex; justify-content: center; flex-wrap: wrap; margin-bottom: 100px">
                            <div>
                                <span class="e56_65" style="display: block">내 최애 음식의</span>
                                <span class="e56_65" style="display: block">레시피를 찾아볼까요?</span>
                            </div>
                            <div style="display: flex; border: black 1px solid; height: 65px; background-color: #FFFFFF;border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
                                <input id="searchbar" class="e56_62" type="text" placeholder="레시피를 검색해 보아요" style="background-color: transparent">
                                <button id="btnsearch" style="background-color: transparent; border: none" ><img src='../static/images/image_12.png' style="padding-right: 5px"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <span class="e56_55">주간 인기 레시피</span>
            </div>

            <div class=e56_9 style="margin-left: 150px">
                <th:block th:each="r:${recipe_list}">
                    <a th:href="@{'/detailRecipe?recipeNum=' + ${r.id}}">
                        <div class=e56_52>
                            <div class="e56_53" th:style="'background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url(\'../static/images/' + ${r.recipeThumbnail} + '\')'">
                                <div style="display: flex; flex-direction: column; justify-content: flex-end;">
                                    <span class="e56_39" th:text="${r.recipeTitle}"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </th:block>
            </div>

            <div>
                <span class="e56_40">많이 찾은 사람들</span>
            </div>

            <div class=e56_9>
                <th:block th:each="m:${member_list}">
                    <a href="">
                        <div class=e56_52>
                            <div class="e56_99" th:style="'background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url(\'../static/images/' + ${m.image} + '\')'">
                                <div style="display: flex; flex-direction: column; justify-content: flex-end;">
                                    <span class="e56_39" th:text="${m.nickname}"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </th:block>
            </div>

            <div>
                <span class="e56_23">회원님께 추천하는 레시피</span>
            </div>
            <div class=e56_9 style="margin-left: 150px">
                <th:block th:each="rd:${random_list}">
                    <a th:href="@{'/detailRecipe?recipeNum=' + ${rd.id}}">
                        <div class=e56_52>
                            <div class="e56_53" th:style="'background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url(\'../static/images/' + ${rd.recipeThumbnail} + '\')'">
                                <div style="display: flex; flex-direction: column; justify-content: flex-end;">
                                    <span class="e56_39" th:text="${rd.recipeTitle}"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </th:block>
            </div>
        </div>
    </div>
    <div class="footer" th:replace="footer :: footer"></div>
</div>
</body>
</html>