<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>유스레시피</title>
    <link rel="stylesheet" href="../static/css/templateBody.css"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("header").load("../static/header.html");
            $(".footer").load("../static/footer.html");
        });
    </script>
    <style>



    </style>
</head>
<body>
<div class="templateBody">
    <header></header>
    <div class="mainBody">
        <div class=e56_3>
            <div class=e56_56>
                <div class="e56_58" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url('../static/images/23_1.png')">
                    <div style="display: flex; justify-content: center; flex-wrap: wrap">
                        <div></div>
                        <div style="display: flex; justify-content: center; flex-wrap: wrap; margin-bottom: 100px">
                            <div>
                                <span class="e56_65" style="display: block">내 최애 음식의</span>
                                <span class="e56_65" style="display: block">레시피를 찾아볼까요?</span>
                            </div>
                            <div style="display: flex; border: black 1px solid; height: 65px; background-color: #FFFFFF;border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
                                <input class="e56_62" type="text" placeholder="레시피를 검색해 보아요" style="background-color: transparent">
                                <button style="background-color: transparent; border: none" ><img src='../static/images/image_12.png' style="padding-right: 5px"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <span class="e56_55">주간 인기 레시피</span>
            </div>
            <div class=e56_9 style="margin-left: 150px">
                <div class=e56_52>
                    <div class="e56_53" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('../static/images/image_16.png')">
                        <div style="display: flex; flex-direction: column; justify-content: flex-end;">
                            <span class="e56_39">초간단 김치볶음밥</span>
                        </div>
                    </div>
                </div>
                <div class=e56_52>
                    <div class="e56_53" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('../static/images/image_16.png')">
                        <div style="display: flex; flex-direction: column; justify-content: flex-end;">
                            <span class="e56_39">초간단 김치볶음밥</span>
                        </div>
                    </div>
                </div>
                <div class=e56_52>
                    <div class="e56_53" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('../static/images/image_16.png')">
                        <div style="display: flex; flex-direction: column; justify-content: flex-end;">
                            <span class="e56_39">초간단 김치볶음밥</span>
                        </div>
                    </div>
                </div>
                <div class=e56_52>
                    <div class="e56_53" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('../static/images/image_16.png')">
                        <div style="display: flex; flex-direction: column; justify-content: flex-end;">
                            <span class="e56_39">초간단 김치볶음밥</span>
                        </div>
                    </div>
                </div>

            </div>

            <div>
                <span class="e56_40">많이 찾은 사람들</span>
            </div>
            <div class=e56_9>
                <div class=e56_52>
                    <div class="e56_99" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('../static/images/image_21.png')">
                        <div style="display: flex; flex-direction: column; justify-content: flex-end;">
                            <span class="e56_39">김희원 쉐프</span>
                        </div>
                    </div>
                </div>
                <div class=e56_52>
                    <div class="e56_99" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('../static/images/image_21.png')">
                        <div style="display: flex; flex-direction: column; justify-content: flex-end;">
                            <span class="e56_39">김희원 쉐프</span>
                        </div>
                    </div>
                </div>
                <div class=e56_52>
                    <div class="e56_99" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('../static/images/image_21.png')">
                        <div style="display: flex; flex-direction: column; justify-content: flex-end;">
                            <span class="e56_39">김희원 쉐프</span>
                        </div>
                    </div>
                </div>
                <div class=e56_52>
                    <div class="e56_99" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('../static/images/image_21.png')">
                        <div style="display: flex; flex-direction: column; justify-content: flex-end;">
                            <span class="e56_39">김희원 쉐프</span>
                        </div>
                    </div>
                </div>
                <div class=e56_52>
                    <div class="e56_99" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('../static/images/image_21.png')">
                        <div style="display: flex; flex-direction: column; justify-content: flex-end;">
                            <span class="e56_39">김희원 쉐프</span>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <span class="e56_23">회원님께 추천하는 레시피</span>
            </div>
            <div class=e56_9 style="margin-left: 150px">

                <div class=e56_52>
                    <div class="e56_53" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('../static/images/image_25.png')">
                        <div style="display: flex; flex-direction: column; justify-content: flex-end;">
                            <span class="e56_39">초간단 김치볶음밥</span>
                        </div>
                    </div>
                </div>
                <div class=e56_52>
                    <div class="e56_53" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('../static/images/image_25.png')">
                        <div style="display: flex; flex-direction: column; justify-content: flex-end;">
                            <span class="e56_39">초간단 김치볶음밥</span>
                        </div>
                    </div>
                </div>
                <div class=e56_52>
                    <div class="e56_53" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('../static/images/image_25.png')">
                        <div style="display: flex; flex-direction: column; justify-content: flex-end;">
                            <span class="e56_39">초간단 김치볶음밥</span>
                        </div>
                    </div>
                </div>
                <div class=e56_52>
                    <div class="e56_53" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('../static/images/image_25.png')">
                        <div style="display: flex; flex-direction: column; justify-content: flex-end;">
                            <span class="e56_39">초간단 김치볶음밥</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer"></div>
</div>
</body>
</html>