<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>유스레시피</title>
    <link rel="stylesheet" href="../static/css/templateBody.css" />
    <link rel="stylesheet" href="../static/css/store.css" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/header.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function() {



         $('.ingreId').each(function() {
             var $this = $(this); // 현재 요소를 $this에 저장
             var id= parseFloat($(this).text());  // 현재 요소의 텍스트를 숫자로 변환하여 반환\

              console.log(id);
             $.ajax({
                 url: '/checkCart',
                 type: 'POST',
                 data: { Id: id },
                 success: function(response) {
                     // 요청이 성공했을 때 실행될 함수
                     console.log('서버 응답:', response);
                     if(response ==='저장됨') {
                         //장바구니에 담겨있다면 나타낼 UI
                         var $btn = $this.closest('.storeItem').find('.cartBtn');
                                    $btn.css('backgroundColor','#D65454')
                         console.log("저장확인되어 버튼색상변경")
                     } else {
                         console.log("카트저장안됨")
                     }

                 },
                 error: function (xhr, status, error) {
                     // 요청이 실패했을 때 실행될 함수
                     console.error('에러 발생:', error);
                 }
             });




         })




        $('.cartBtn').click(function() {

            var storeItemElement = $(this).closest('.storeItem');
            var ingredientId = storeItemElement.find('.ingreId').text();
            console.log("상품 ID: ", ingredientId);
            //  상품 id를 전달 후 장바구니 추가 요청
            $.ajax({
                url: '/addCart', // 요청을 보낼 서버의 URL
                type: 'POST', // HTTP 요청 방식
                data: { Id: ingredientId }, // 서버로 보낼 데이터
                success: function(response) {
                    // 요청이 성공했을 때 실행될 함수
                    console.log('서버 응답:', response);

                    if(response ==='저장함'){
                        $('#modalbox1').css('display', 'block');
                    }else {
                        $('#modalbox3').css('display', 'block');
                    }

                },
                error: function(xhr, status, error) {
                    // 요청이 실패했을 때 실행될 함수
                    console.error('에러 발생:', error);
                    $('#modalbox2').css('display', 'block');
                }
            });

        });



        $('#btnClose').click(()=>{
            $('#modalbox1').css('display','none');
        })
        $('#btnClose2').click(()=>{
            $('#modalbox2').css('display','none');
        })
        $('#btnClose3').click(()=>{
            $('#modalbox3').css('display','none');
        })


        $('#btnToCart').click(()=>{
            window.location.href = "/cart";
        })


    });




</script>

</head>
<body >
    <div class="templateBody">
        <header>
            <div class="header" th:replace="header :: header"></div>
        </header>
        <div class="mainBody">
            <div class="storeContainer1">
                <h2>스토어</h2>
                <div class="Container1_box">
                    <ul class="Container1_boxul">
                        <li><a th:href="@{/listIngredient/{i}(i=1, category='000')}">전체보기</a></li>
                        <li><a th:href="@{/listIngredient/{i}(i=1, category='1')}">과일</a></li>
                        <li><a th:href="@{/listIngredient/{i}(i=1, category='2')}">견과류</a></li>
                        <li><a th:href="@{/listIngredient/{i}(i=1, category='3')}">쌀잡곡</a></li>
                        <li>조미료</li>
                        <li>카테고리1</li>
                        <li>카테고리2</li>
                        <li>카테고리3</li>
                        <li>카테고리4</li>
                    </ul>
                </div>

                <div class="Container1_box2">
                    <ul class="Container1_box2ul">
                        <li><a th:href="@{/listIngredient/{i}(i=1, sortBy='id', direction='DESC')}">최신순</a></li>
                        <li><a th:href="@{/listIngredient/{i}(i=1, sortBy='id',direction='ASC')}">오래된순</a></li>
                        <li><a th:href="@{/listIngredient/{i}(i=1, sortBy='ingredientPrice', direction='DESC')}">가격높은순</a></li>
                        <li><a th:href="@{/listIngredient/{i}(i=1, sortBy='ingredientPrice',direction='ASC')}">가격낮은순</a></li>
                    </ul>
                </div>
            </div>

            <div class="storeContainer2">
                <div class="storeContainer2GirdBox">


                    <div class="storeItem" th:each=" i : ${list}">
                        <div class="storeItem_img"></div>
                        <button class="cartBtn"><img src="../static/images/icon/카트.svg"/><span>담기</span></button>
                        <div class="storeItem_info">
                            <p th:text="${i.ingredientName}">상품명</p>
                            <p th:text="${i.ingredientPrice}">상품가격</p>
                            <P th:text="${i.id}" class="ingreId">재료id</P>
                        </div>
                    </div>


                </div>
                <div class="pageBox">
                     <th:block th:each="i:${#numbers.sequence(1,totalPage)}">
                        <a class="pageNum" th:href="@{|/listIngredient/${i}|}" th:text="${i}"></a> <!--URI방식임  -->
                     </th:block>

                </div>
            </div>
            <div class="modelContainer">
                <div class="modalbox1" id="modalbox1">
                        <h3>장바구니에 상품을 담았습니다.</h3>  
                        <button class="btnModal" id="btnToCart">장바구니로 이동</button>
                        <button class="btnModal" id="btnClose">확인</button>
                </div>
                <div class="modalbox2" id="modalbox2" >
                    <h3>장바구니에 상품을 추가하지 못했습니다.</h3>
                    <button class="btnModal" id="btnClose2">확인</button>
                </div>
                <div class="modalbox3" id="modalbox3" >
                    <h3>이미 장바구니에 담겨있는 상품입니다.</h3>
                    <button class="btnModal" id="btnClose3">확인</button>
                </div>

           </div>

        </div>
        <div class="footer" th:replace="footer :: footer"></div>
    </div>
</body>
</html>