<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>유스레시피</title>
    <link rel="stylesheet" href="../static/css/templateBody.css" />
    <link rel="stylesheet" href="../static/css/store.css" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/header.css"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>

    </script>
</head>
<body >
    <div class="templateBody">
        <header>
            <div class="header" th:replace="header :: header"></div>
        </header>
        <div class="mainBody">
            <div class="storeContainer1">
                <h2>스토어</h2>
                <div class="Container1_box">
                    <ul class="Container1_boxul">
                        <li><a th:href="@{/listIngredient/{i}(i=1, category='000')}">전체보기</a></li>
                        <li><a th:href="@{/listIngredient/{i}(i=1, category='1')}">과일</a></li>
                        <li><a th:href="@{/listIngredient/{i}(i=1, category='2')}">견과류</a></li>
                        <li><a th:href="@{/listIngredient/{i}(i=1, category='3')}">쌀잡곡</a></li>
                        <li>조미료</li>
                        <li>카테고리1</li>
                        <li>카테고리2</li>
                        <li>카테고리3</li>
                        <li>카테고리4</li>
                    </ul>
                </div>

                <div class="Container1_box2">
                    <ul class="Container1_box2ul">
                        <li><a th:href="@{/listIngredient/{i}(i=1, sortBy='id', direction='DESC')}">최신순</a></a></li>
                        <li><a th:href="@{/listIngredient/{i}(i=1, sortBy='id',direction='ASC')}">오래된순</a></a></li>
                        <li><a th:href="@{/listIngredient/{i}(i=1, sortBy='ingredientPrice', direction='DESC')}">가격높은순</a></a></li>
                        <li><a th:href="@{/listIngredient/{i}(i=1, sortBy='ingredientPrice',direction='ASC')}">가격낮은순</a></a></li>
                    </ul>
                </div>
            </div>

            <div class="storeContainer2">
                <div class="storeContainer2GirdBox">


                    <div class="storeItem" th:each=" i : ${list}">
                        <div class="storeItem_img"></div>
                        <button id="cartBtn" class="cartBtn"><img src="../static/images/icon/카트.svg"/><span>담기</span></button>
                        <div class="storeItem_info">sds
                            <p th:text="${i.ingredientName}">상품명</p>
                            <p th:text="${i.ingredientPrice}">상품가격</p>
                        </div>
                    </div>


                </div>
                <div class="pageBox">
                     <th:block th:each="i:${#numbers.sequence(1,totalPage)}">
                        <a class="pageNum" th:href="@{|/listIngredient/${i}|}" th:text="${i}"></a> <!--URI방식임  -->
                     </th:block>


                </div>

            </div>




        </div>
        <div class="footer" th:replace="footer :: footer"></div>
    </div>
</body>
</html>