<html lang="ko" xmlns:th="http://www.thymeleaf.org" class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>요리를 즐겁게~ 만개의레시피</title>
    <link rel="stylesheet" type="text/css" href="../static/css/templateBody.css" />
    <link rel="stylesheet" type="text/css" href="./static/css/header.css"/>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">


</head>
<body>
<!--<script>-->

<!--    $(function () {-->

<!--        $('#id_user').focus();-->
<!--        Kakao.init('f5e1efb59f821ea6ee4743d9eb859dee');-->

<!--        $('body').css({'background': '#ffffff'});-->

<!--        &lt;!&ndash; 로컬스토리지에 넣은 마지막본 상품번호를 쿠키에 담았다 회원가입 후 마지막 상품으로 보냄 &ndash;&gt;-->
<!--        const LVGoods = localStorage.getItem("stLastViewGoods");-->
<!--        setCookie("LVGoodsNo", LVGoods, 1);-->
<!--    });-->

<!--    function setCookie(name, value, expiredays) {-->
<!--        var todayDate = new Date();-->
<!--        todayDate.setDate(todayDate.getDate() + expiredays);-->
<!--        document.cookie = name + "=" + escape(value) + "; path=/; expires=" + todayDate.toGMTString() + ";";-->
<!--    }-->

<!--    function doSubmit() {-->
<!--        if (!$('#id_user').val()) {-->
<!--            $('#idMsg').show();-->
<!--            $('#id_user').focus();-->
<!--            return false;-->
<!--        }-->
<!--        if (!$('#tx_passwd').val()) {-->
<!--            $('#pwMsg').show();-->
<!--            $('#tx_passwd').focus();-->
<!--            return false;-->
<!--        }-->
<!--        return true;-->
<!--    }-->


<!--    function loginWithKakao() {-->

<!--        Kakao.Auth.login({-->
<!--            persistAccessToken: false,-->
<!--            success: function (authObj) {-->
<!--                location.href = "https://www.10000recipe.com/user/login_confirm.html?q_mode=kakao&kakao_token=" + authObj.access_token + "&q_path=" + encodeURIComponent('https://www.10000recipe.com/');-->
<!--            },-->
<!--            fail: function (err) {-->
<!--                console.log(JSON.parse(err));-->
<!--            }-->
<!--        });-->

<!--    }-->

<!--    function loginWithFacebook() {-->

<!--        FB.login(function (response) {-->
<!--            if (response.status === 'connected') {-->
<!--                location.href = "https://www.10000recipe.com/user/login_confirm.html?q_mode=facebook&facebook_token=" + response.authResponse.accessToken + "&q_path=" + encodeURIComponent('https://www.10000recipe.com/');-->
<!--            } else if (response.status === 'not_authorized') {-->
<!--            } else {-->
<!--            }-->
<!--        }, {scope: 'public_profile,email'});-->
<!--    }-->

<!--    (function (d, s, id) {-->
<!--        var js, fjs = d.getElementsByTagName(s)[0];-->
<!--        if (d.getElementById(id)) return;-->
<!--        js = d.createElement(s);-->
<!--        js.id = id;-->
<!--        js.src = "//connect.facebook.net/ko_KR/sdk.js";-->
<!--        fjs.parentNode.insertBefore(js, fjs);-->
<!--    }(document, 'script', 'facebook-jssdk'));-->

<!--    function loginWithNaver() {-->
<!--        location.href = 'https://nid.naver.com/oauth2.0/authorize?client_id=cWzmDRNgfouLxtetDws2&response_type=code&redirect_uri=' + encodeURIComponent("https://www.10000recipe.com/user/login_confirm.html?q_mode=naver&q_path=https://www.10000recipe.com/") + '&state=' + encodeURIComponent('27639c26650069c16ac656a62ed8c8ba');-->
<!--    }-->

<!--    function startGoogle() {-->
<!--        gapi.load('auth2', function () {-->
<!--            auth2 = gapi.auth2.init({-->
<!--                client_id: '823192025738-1dji6o7dj8v1555dj2dl2ka64oihfp5i.apps.googleusercontent.com',-->
<!--                fetch_basic_profile: true,-->
<!--                scope: 'profile email'-->
<!--            });-->
<!--        });-->
<!--    }-->

<!--    function loginWithGoogle() {-->

<!--        auth2.grantOfflineAccess().then(signInCallback);-->
<!--    }-->


<!--</script>-->
<div class="templateBody" style="align-content: flex-start; min-height: 700px">
    <header>
        <div class="header" th:replace="header :: header"></div>
    </header>
    <div class="mainBody">
        <div class="container_etc" style="width:460px;">
            <h2 style="font-family: Cafe24Dangdanghae">로그인</h2>

            <div class="panel-body">
                <form name="form_login" id="formLogin" method="post" action="/login">
                    <input type="hidden" name="${_csrf.parameterName }" value="${_csrf.token }">
                    <div class="form_login_in" style="padding-right:22px;">
                        <input type="text" name="username" class="" id="id_user" placeholder="아이디">
                        <span id="idMsg" style="display:none; color:#FF0000;">아이디를 입력해주세요.</span>
                    </div>
                    <br>
                    <div class="form_login_in">
                        <input type="password" name="password" id="tx_passwd" placeholder="비밀번호">
                        <span id="pwMsg" style="display:none;color:#FF0000;">비밀번호를 입력해주세요.</span>
                    </div>
                    <div class="form_login_btn">
                        <button class="loginBtn" type="submit" style="font-family: Cafe24Dangdanghae;">로그인</button>
                    </div>
                </form>

                <div class="join_btn3">
                    <a href="/findUserid">아이디/비밀번호 찾기</a>
                    <a href="/join">회원가입</a>
                </div>
            </div>
            <div class="join_btn2_k">
                <button type="submit" onclick="loginWithKakao()" class="btn" style="background-color: #FFE701">
                    <img src="/static/images/image_31.png" alt="카카오" style="width: 10%; padding-bottom: 5px">
                    <span>카카오로 간편 시작</span>
                </button>
            </div>
            <div class="join_btn2_k">
                <button type="submit" onclick="loginWithNaver()" class="btn" style="background-color: #01C73C">
                    <img src="/static/images/image_29.png" alt="네이버" style="width: 10%; padding-bottom: 5px">
                    <span style="color: #ffffff">네이버로 간편 시작</span></button>
            </div>
            <div class="join_btn2_k">
                <button type="submit" onclick="loginWithGoogle()" class="btn">
                    <img src="/static/images/logo_google_1.png" alt="구글" style="width: 10%; ">
                    <span>구글로 간편 시작</span>
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>

