<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>유스레시피</title>
    <link rel="stylesheet" href="../static/css/templateBody.css"/>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/header.css"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

</head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- Top Menu Css -->
<link rel="stylesheet" type="text/css" href="../static/css/store_20230103.css">


<!--<body class="body-goods body-goods-view pc">-->
<body>
<div class="templateBody body-goods body-goods-view pc">
    <header>
        <div class="header" th:replace="header :: header"></div>
    </header>
    <div class="mainBody">

        <div class="top_area"></div>
        <div id="wrap">

            <div id="header_warp">
                <div id="container">
                    <div id="contents">
                        <!-- 본문 시작 -->

                        <!-- //location_wrap -->

                        <div class="sub_content">

                            <!-- //side_cont -->
                            <div class="content_box" style="margin-top: 40px;">

                                <!-- 상품 상단 -->
                                <div class="item_photo_info_sec s_contents">
                                    <div class="s_view">
                                        <!--상단 썸네일//-->
                                        <div class="s_view_pic">
                                            <div class="s_view_pic_zoom"><a href="#lyZoom" id="mainImage">
                                                <img src="https://recipe1.ezmember.co.kr/cache/data/goods/24/02/08/1000044126/1000044126_detail_07.jpg"
                                                     width="1000" height="1000" alt="[공동구매] 기펠 벨베티 초고속 저소음 블렌더 PB8006"
                                                     title="[공동구매] 기펠 벨베티 초고속 저소음 블렌더 PB8006" class="middle">
                                            </a>
                                            </div>

                                        </div>

                                        <form name="frmView" id="frmView"
                                              style="display: inline-block;vertical-align: top;"
                                              method="post">
                                            <div class="s_view_info btn_layer">
                                                <h3>
                                                    <p>[공동구매] 기펠 벨베티 초고속 저소음 블렌더 PB8006</p>
                                                </h3>


                                                <div id="lySns" class="layer_area" style="display: none">
                                                    <div class="ly_wrap sns_layer">
                                                        <div class="ly_cont">
                                                            <div class="sns_list">
                                                                <div class="ly_share_noti" style="display: none"><span>수익금 적립 불가 상품입니다.</span>
                                                                </div>
                                                                <ul>
                                                                    <li><a href="javascript:;" id="shareKakaoLinkBtn"
                                                                           data-sns="kakaolink"><img
                                                                            src="//recipe1.ezmember.co.kr/img/img_share_k.png"
                                                                            alt="카카오톡 공유"><br><span>카카오톡</span></a></li>
                                                                    <li><a href="javascript:;" id="shareFacebookBtn"
                                                                           data-width="750" data-height="300"
                                                                           data-sns="facebook" class="btn-social-popup"><img
                                                                            src="//recipe1.ezmember.co.kr/img/img_share_f.png"
                                                                            alt="페이스북 공유"><br><span>페이스북</span></a></li>
                                                                    <li><a href="javascript:;" id="shareTwitterBtn"
                                                                           data-width="500" data-height="250"
                                                                           data-sns="twitter"
                                                                           class="btn-social-popup"><img
                                                                            src="//recipe1.ezmember.co.kr/img/img_share_t.png"
                                                                            alt="트위터 공유"><br><span>트위터</span></a></li>
                                                                    <li><a href="javascript:;" id="shareCopyBtn"
                                                                           data-sns=""
                                                                           class="gd_clipboard" data-clipboard-text=""
                                                                           title="상품주소"><img
                                                                            src="//recipe1.ezmember.co.kr/img/img_share_l.png"
                                                                            alt="링크복사"><br><span>링크복사</span></a></li>
                                                                </ul>
                                                                <div class="ly_share_btn ly_share_btn_not_login"
                                                                     style="display: none">
                                                                    <a href="//www.10000recipe.com/user/login.html?q_path=https%3A%2F%2Fshop.10000recipe.com%2Fgoods%2Fgoods_view.php%3FgoodsNo%3D1000044126"
                                                                       class="ly_share_btn_st1" style="width: 100%;">가입하고
                                                                        수익금
                                                                        받기</a>
                                                                    <div class="ly_share_link"><a
                                                                            href="https://partners.10000recipe.com/customer/intro.html"
                                                                            target="_blank">리워드 서비스란?</a></div>
                                                                </div>
                                                                <div class="ly_share_btn_login">
                                                                    <div class="ly_share_btn">
                                                                        <a href="https://pf.kakao.com/_EkLnK/chat"
                                                                           target="_blank" class="ly_share_btn_st2"
                                                                           style="width: 48%; margin-right: 5px;">1:1
                                                                            카톡문의</a>
                                                                        <a href="https://partners.10000recipe.com/dashboard/index.html"
                                                                           target="_blank" class="ly_share_btn_st3"
                                                                           style="width: 48%">수익금 내역</a>
                                                                    </div>
                                                                    <div class="ly_share_link"><a
                                                                            href="https://partners.10000recipe.com/customer/intro.html"
                                                                            target="_blank">리워드 서비스란?</a></div>
                                                                    <ul class="ly_share_noti2">
                                                                        <li class="ly_share_available"
                                                                            style="display: none">공유된
                                                                            링크를 통해 타인의 구매건 마다 <b
                                                                                    id="ly_share_profit"></b>원이
                                                                            적립됩니다.
                                                                        </li>
                                                                        <li class="ly_share_available"
                                                                            style="display: none">공유된
                                                                            링크를 통해 타인이 다른 상품 구매 시에도 주문상품별 수익금이 적립됩니다.
                                                                        </li>
                                                                        <li>링크를 통한 본인 구매 건은 수익금이 적립되지 않습니다.</li>
                                                                        <li>수익금 내역 확인은 MY메뉴 &gt; 수익금 내역에서 가능합니다.</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a href="#lySns" class="ly_close"><img
                                                                src="http://recipe1.ezmember.co.kr/img/mobile/2022/icon_close2.png"
                                                                alt="닫기" width="26px"></a>
                                                    </div>
                                                </div>


                                                <div class="sub_info">국내 최저소음! 성능은 압도적!</div>
                                                <div class="price_box">
                                                    <p class="dc">60<small>%</small></p>
                                                    <p class="price" style="">139,000<small id="won" style="">원</small>
                                                    </p>


                                                    <div class="price_box_info_btn">
                                                        <a href="javascript:void(0);" class="info_btn_wish"><img
                                                                src="//recipe1.ezmember.co.kr/img/mobile/icon_zzim2.png"
                                                                alt="찜"></a>
                                                        <div style="position: relative; display: inline-block;">
                                                            <a href="javascript:;" class="info_btn_share"><img
                                                                    src="//recipe1.ezmember.co.kr/img/mobile/icon_share10.png"
                                                                    alt="공유"></a>
                                                        </div>
                                                    </div>

                                                    <div class="info_delivery_area">
                                                        <dl class="info_delivery">
                                                            <dt><img
                                                                    src="//recipe1.ezmember.co.kr/img/mobile/icon_delivery3.png"
                                                                    alt="배송아이콘">배송
                                                            </dt>
                                                            <dd>
                                                                2,000원
                                                                <span class="btn_layer" style="display:none;">
                                    <span class="btn_gray_list"><a href="#lyDeliveryZone" class="btn_gray_small"><em>지역별추가배송비</em></a></span>
                                    <div id="lyDeliveryZone" class="layer_area" style="display:none;">
                                        <div class="ly_wrap delivery_zone_layer">
                                            <div class="ly_tit"><strong>지역별배송비</strong></div>
                                            <div class="ly_cont">
                                                <div class="delivery_list">
                                                    <ul>
                                                        <li>
                                                            전라남도 진도군 조도면
                                                            <span>5,000원</span>
                                                        </li>
                                                        <li>
                                                            경상북도 울릉군
                                                            <span>5,000원</span>
                                                        </li>
                                                        <li>
                                                            제주특별자치도 제주시
                                                            <span>3,000원</span>
                                                        </li>
                                                        <li>
                                                            제주특별자치도 서귀포시
                                                            <span>3,000원</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- //ly_cont -->
                                            <a href="#close" class="ly_close"><img
                                                    src="https://shoptr3131.cdn-nhncommerce.com/data/skin/front/moment/img/common/layer/btn_layer_close.png"
                                                    alt="닫기"></a>
                                        </div>
                                        <!-- //ly_wrap -->
                                    </div>
                                                                    <!-- //layer_area -->
                                </span>
                                                                <div class="delivery-detail" style="display:none;">


                                                                    <div class="js-deliveryMethodVisitArea dn">
                                                                        방문 수령지 : 서울특별시 금천구 가산디지털1로 145 (에이스하이엔드타워3차)
                                                                        1106호
                                                                    </div>
                                                                </div>
                                                            </dd>
                                                        </dl>
                                                        <dl class="info_delivery">
                                                            <dt><img
                                                                    src="//recipe1.ezmember.co.kr/img/mobile/icon_point.png"
                                                                    alt="구매아이콘">적립
                                                            </dt>
                                                            <dd><b class="color_point1">695원</b>
                                                                적립<span> (모든 회원 구매액의 0.5% 적립)</span></dd>
                                                        </dl>

                                                        <div class="option">
                                                        </div>
                                                        <div class="price_total" style="padding-top:0;">
                                                            <div class="item_choice_list">
                                                                <table class="option_display_area" border="0"
                                                                       cellpadding="0"
                                                                       cellspacing="0">
                                                                    <tbody id="option_display_item_0">
                                                                    <tr class="check optionKey_0">
                                                                        <td class="cart_prdt_name" colspan="2">
                                                                            <input type="hidden" name="goodsNo[]"
                                                                                   value="1000044126">
                                                                            <input type="hidden" name="optionSno[]"
                                                                                   value="199288">
                                                                            <input type="hidden" name="goodsPriceSum[]"
                                                                                   value="139000">
                                                                            <input type="hidden"
                                                                                   name="addGoodsPriceSum[]"
                                                                                   value="0">
                                                                            <input type="hidden" name="couponApplyNo[]"
                                                                                   value="">
                                                                            <input type="hidden"
                                                                                   name="couponSalePriceSum[]"
                                                                                   value="">
                                                                            <input type="hidden"
                                                                                   name="couponAddPriceSum[]"
                                                                                   value="">
                                                                            <div class="cart_tit_box">
                                                                                <strong class="cart_tit">
                                                                                    <span>[공동구매] 기펠 벨베티 초고속 저소음 블렌더 PB8006</span>
                                                                                    <span id="option_text_display_0"></span>
                                                                                </strong>
                                                                            </div>
                                                                            <!-- //cart_tit_box -->
                                                                        </td>
                                                                        <!-- //cart_prdt_name -->
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="item_choice_price" colspan="2">
                                                                            <input type="hidden" name="optionPriceSum[]"
                                                                                   value="0">
                                                                            <input type="hidden" name="option_price_0"
                                                                                   value="0.00">
                                                                            <strong class="option_price_display_0">139,000</strong><small>원</small>
                                                                            <span class="count">
                                                    <span class="goods_qty">
                                                        <span>
                                                            <button type="button" class="down goods_cnt" title="감소"
                                                                    value="dn^|^0">감소</button>
                                                            <input type="text" name="goodsCnt[]" class="text goodsCnt_0"
                                                                   title="수량" value="1" data-key="0" data-value="1"
                                                                   data-stock="0"
                                                                   onchange="goodsViewController.input_count_change(this, '1');return false;">
                                                            <button type="button" class="up goods_cnt" title="증가"
                                                                    value="up^|^0">증가</button>
                                                        </span>
                                                    </span>
                                                </span>
                                                                        </td>
                                                                        <!-- //item_choice_price -->
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="2" height="10"></td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>

                                                                <div class="total_price_division_line"
                                                                     style="border-top: 2px solid rgb(34, 34, 34); padding-top: 8px;">
                                                                    <div class="end_price item_total_box"
                                                                         style="width: auto;">
                                                                        <div class="price_total1 dn">
                                                                            총 상품금액
                                                                            <span class="goods_total_price"
                                                                                  style="width : 140px; display : inline-block">139,000<b>원</b></span>
                                                                        </div>
                                                                        <div class="price_total1 total_discount dn">
                                                                            배송비
                                                                            <span class="goods_total_price total_benefit_price"
                                                                                  style="width : 140px; display : inline-block">2,000<b>원</b></span>
                                                                        </div>
                                                                        <div class="price_total2">
                                                                            주문금액
                                                                            <span class="total_price"
                                                                                  style="display : inline-block">  141,000<b>원</b></span>
                                                                        </div>
                                                                    </div>
                                                                    <!-- //item_tatal_box -->
                                                                </div>
                                                                <!-- //item_price_cont -->
                                                            </div>
                                                            <!-- //item_choice_list -->

                                                            <div class="btn_go_box">
                                                                <button type="button" id="cartBtn" class="btn_go_cart"
                                                                        style="width: 39%;">장바구니
                                                                </button>
                                                                <button type="button" class="btn_go_order"
                                                                        style="width: 60%;">
                                                                    바로구매
                                                                </button>
                                                            </div>
                                                            <!-- //btn_choice_box -->

                                                        </div>
                                                        <!-- //item_info_box -->
                                                    </div>

                                                </div>
                                            </div>
                                            <input type="hidden" name="deliveryCollectFl" value="pre"></form>

                                        <!-- //item_photo_info_sec -->
                                        <!-- //상품 상단 끝 -->

                                        <!--메뉴 탭 //-->


                                        <div id="page-detail-video" style="display: none;"></div>
                                        <div id="page-detail"></div>


                                        <!--상세정보 //-->
                                        <div class="D_goods_info">
                                            <div class="info_cont detail" id="goodsDetailInfo"
                                                 style="padding-bottom:100px; height:2500px;">
                                                <div class="detail_explain_box">
                                                    <div class="image-manual">
                                                        <!-- 이미지 -->
                                                    </div>
                                                    <div class="txt-manual">
                                                        <!-- 상품상세 공통정보 관리를 상세정보 상단에 노출-->
                                                        <div align="center" style="text-align: center;">

                                                            <center>
                                                                <img src="https://secondh100.cafe24.com/wonsik/gifel/gipfel_mixer_1.jpg"><br>
                                                                <img src="https://secondh100.cafe24.com/wonsik/gifel/gipfel_mixer_2.gif"><br>
                                                                <img src="https://secondh100.cafe24.com/wonsik/gifel/gipfel_mixer_3.gif"><br>
                                                                <img src="https://secondh100.cafe24.com/wonsik/gifel/gipfel_mixer_4.gif"><br>
                                                                <img src="https://secondh100.cafe24.com/wonsik/gifel/gipfel_mixer_5.jpg"><br>
                                                                <img src="https://secondh100.cafe24.com/wonsik/gifel/gipfel_mixer_6.gif"><br>
                                                                <img src="https://secondh100.cafe24.com/wonsik/gifel/gipfel_mixer_7.jpg"><br>
                                                                <img src="https://secondh100.cafe24.com/wonsik/gifel/gipfel_mixer_8.gif"><br>
                                                                <img src="https://secondh100.cafe24.com/wonsik/gifel/gipfel_mixer_9.gif"><br>
                                                                <img src="https://secondh100.cafe24.com/wonsik/gifel/gipfel_mixer_10.gif"><br>
                                                                <img src="https://secondh100.cafe24.com/wonsik/gifel/gipfel_mixer_11.jpg"><br>
                                                                <img src="https://secondh100.cafe24.com/wonsik/gifel/gipfel_mixer_12.gif"><br>
                                                                <img src="https://secondh100.cafe24.com/wonsik/gifel/gipfel_mixer_13.jpg">
                                                            </center>
                                                        </div>
                                                    </div>
                                                    <div style="padding:10px 0;text-align:center" id="external-video">
                                                        <iframe width="640" height="360"
                                                                src="https://www.youtube.com/embed/DMU-c6Dre58"
                                                                frameborder="0"
                                                                allowfullscreen=""></iframe>
                                                    </div>
                                                </div>
                                                <!-- //detail_explain_box -->

                                            </div>
                                            <div id="page-review" style="height: 40px;"></div>
                                        </div>

                                        <!--리뷰별점//-->
                                        <div class="D_goods_box">
                                            <div class="goods_rv_star" style="display:none;">
                                                <span class="goods_rv_point"></span>
                                                <div class="common2_sp_caption_rv" style="display: inline-block;">
                                                    <div class="common2_sp_caption_rv_star"
                                                         style="display: inline-block;"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="D_goods_box" style="padding: 20px 0;">
                                            <div class="photoreview_tit2">
                                                <div class="photoreview_tit" style="display: inline-block;">후기</div>
                                                <div class="review_btn_wr"><a
                                                        href="javascript:gd_open_write_popup('goodsreview', '1000044126')"><img
                                                        src="//recipe1.ezmember.co.kr/img/mobile/icon_write2.png">후기작성</a>
                                                </div>
                                            </div>

                                            <!--내용없음문구//-->
                                            <div class="goods_box_none">
                                                <img src="//recipe1.ezmember.co.kr/img/mobile/icon_none.png">
                                                <p>등록된 후기가 없습니다.</p>
                                            </div>

                                        </div>
                                        <!-- //EZHLD 상품 후기 끝 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer" th:replace="footer :: footer"></div>
</div>
</body>
</html>