<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>유스레시피</title>
    <link rel="stylesheet" href="../static/css/templateBody.css" />
    <link rel="stylesheet" href="../static/css/orderPage.css" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/header.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<!--    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">-->
<!--    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script>
        $(document).ready(function(){

            let orderData;
            try {
                orderData = JSON.parse(sessionStorage.getItem('orderData'));
            } catch (e) {
                console.error('주문 데이터 파싱 오류:', e);
                return;
            }
            if (!orderData) {
                console.error('주문 데이터가 존재하지 않습니다.');
                return;
            }

            console.log('가져온 주문데이터:'+orderData);
            console.log('가져온 총주문금액:'+orderData.totalPrice);
            console.log('가져온 적립예정포인트:'+orderData.points);
            console.log('가져온 상품명:'+orderData.items[0].name);

            $('#totalItemPrice').html(orderData.totalPrice);
            $('#totalOrderPrice').html(orderData.totalPrice);

            var items =orderData.items;
            items.forEach((item,index)=>{
                var td = $("<td></td>").html(item.name);
                var td2 = $("<td></td>").html(item.price);
                var td3 = $("<td></td>").html(item.quantity);
                var td4 = $("<td></td>").html(item.totalPrice);
                var tr =  $("<tr></tr>");
                tr.append(td,td2,td3,td4);
                $(".t3").append(tr);

            })

        });




    </script>
</head>
<body >
    <div class="templateBody">
        <header>
            <div class="header" th:replace="header :: header"></div>
        </header>
        <div class="mainBody">
            <div class="orderTop">
                <h2 class="orderTopLeft">주문결제</h2>
                <div class="orderTopRight">
                    <span>주문결제</span>
                    <span>></span>
                    <span class="whitegray">주문완료</span>
                </div>
            </div>
            <div class="orderCustomerInfo">
                <h4 class="fontStyle1">구매자정보</h4>
                <table class="t1">
                    <tr >
                        <th class="bgapple">이름</th>
                        <td th:text="${m.name}"></td>
                    </tr>
                    <tr>
                        <th class="bgapple">이메일</th>
                        <td th:text="${m.email}"></td>
                    </tr>
                    <tr>
                        <th class="bgapple">휴대폰 정보</th>
                        <td th:text="${m.phone}"></td>
                    </tr>
                </table>
            </div>

            <div class="orderReceiverInfo">
                <h4 class="fontStyle1">받는사람정보</h4>
                <table class="t2">
                    <tr>
                        <th class="bgapple">이름</th>
                        <td><input type="text"  class="inputBox" id="Name" th:value="${m.name}"></td>
                    </tr>
                    <tr>
                        <th class="bgapple">이메일</th>
                        <td><input type="text"  class="inputBox" id="Email" th:value="${m.email}"></td>
                    </tr>
                    <tr>
                        <th class="bgapple">휴대폰 정보</th>
                        <td><input type="text"  class="inputBox" id="Phone" th:value="${m.phone}"></td>
                    </tr>
                    <tr>
                        <th class="bgapple">주소</th>
                        <td><input type="text"  class="inputBox" id="Addr" th:value="${m.addr}"></td>
                    </tr>
                </table>
            </div>

            <div class="orderDelivery">
                <h4 class="fontStyle1">배송 물품</h4>
                <table class="t3">
                    <tr>
                        <th class="bgapple w-200" >상품명</th>
                        <th class="bgapple">상품가격</th>
                        <th class="bgapple">수량</th>
                        <th class="bgapple">가격</th>
                    </tr>
                </table>
            </div>

            <div class="orderInfo">
                <h4 class="fontStyle1">결제정보</h4>
                <table class="t4">
                    <tr>
                        <th class="bgapple">총상품가격</th>
                        <td><span id="totalItemPrice"></span></td>
                    </tr>
                    <tr>
                        <th class="bgapple">적립금</th>
                        <td><span></span></td>
                    </tr>
                    <tr>
                        <th class="bgapple">배송비</th>
                        <td><span>0원(배송비 무료이벤트)</span></td>
                    </tr>
                    <tr>
                        <th class="bgapple">총결제금액</th>
                        <td><span id="totalOrderPrice"></span></td>
                    </tr>
                    <tr>
                        <th class="bgapple">결제수단</th>
                        <td>신용카드</td>
                    </tr>
                </table>
            </div>

            <button class="btnOrder">결제하기</button>
        </div>
        <div class="footer" th:replace="footer :: footer"></div>
    </div>
</body>
</html>