<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>유스레시피</title>
    <link rel="stylesheet" href="../static/css/templateBody.css"/>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../static/css/pwdChange.css"/>
    <link rel="stylesheet" href="../static/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/header.css"/>


</head>
<body>
<div class="templateBody">
    <header>
        <div class="header" th:replace="header :: header"></div>
    </header>

    <div class="mainBody">

        <div class="e65_476">
            <div>
                <span class="e65_483">새 비밀번호</span>
            </div>
            <div>
                <span class="e65_497">새로운 비밀번호를 입력해주세요 </span>
            </div>
            <div style="width: 388px">
                <span class="e65_502">새 비밀번호</span>
                <input class="e65_500" type="password"/>
            </div>

            <div style="width: 388px">
                <span class="e65_503">비밀번호 확인</span>
                <input class="e65_501" type="password"/>
            </div>
            <div>
                <input class="e65_480" type="submit" value="비밀번호 확인"/>
            </div>

        </div>
    </div>
    <div class="footer" th:replace="footer :: footer"></div>
</div>
</body>
</html>

