<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>유스레시피</title>
    <link rel="stylesheet" href="../static/css/templateBody.css" />
    <link rel="stylesheet" href="../static/css/store.css" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/header.css"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        $(document).ready(function(){
            $("header").load("../static/header.html");
            $(".footer").load("../static/footer.html");
        });
    </script>
</head>
<body >
    <div class="templateBody">
        <header>
            <div class="header" th:replace="header :: header"></div>
        </header>
        <div class="mainBody">
            <div class="storeContainer1">
                <h2>스토어</h2>
                <div class="Container1_box">
                    <ul class="Container1_boxul">
                        <li>전체보기</li>
                        <li>과일</li>
                        <li>견과류</li>
                        <li>쌀잡곡</li>
                        <li>조미료</li>
                        <li>카테고리1</li>
                        <li>카테고리2</li>
                        <li>카테고리3</li>
                        <li>카테고리4</li>
                    </ul>
                </div>

                <div class="Container1_box2">
                    <ul class="Container1_box2ul">
                        <li><a href="#">인기순</a></li>
                        <li><a href="#">가격낮은순</a></li>
                        <li><a href="#">가격높은순</a></li>
                    </ul>
                </div>
            </div>

            <div class="storeContainer2">
                <div class="storeContainer2GirdBox">


                    <div class="storeItem">
                        <div class="storeItem_img"></div>
                        <button id="cartBtn" class="cartBtn"><img src="../static/images/icon/카트.svg"/><span>담기</span></button>
                        <div class="storeItem_info">
                            <p>상품명</p>
                            <p>상품가격</p>
                        </div>
                    </div>
                    <div class="storeItem">
                        <div class="storeItem_img"></div>
                        <button id="cartBtn" class="cartBtn"><img src="../static/images/icon/카트.svg"/><span>담기</span></button>
                        <div class="storeItem_info">
                            <p>상품명</p>
                            <p>상품가격</p>
                        </div>
                    </div>
                    <div class="storeItem">
                        <div class="storeItem_img"></div>
                        <button id="cartBtn" class="cartBtn"><img src="../static/images/icon/카트.svg"/><span>담기</span></button>
                        <div class="storeItem_info">
                            <p>상품명</p>
                            <p>상품가격</p>
                        </div>
                    </div>
                    <div class="storeItem">
                        <div class="storeItem_img"></div>
                        <button id="cartBtn" class="cartBtn"><img src="../static/images/icon/카트.svg"/><span>담기</span></button>
                        <div class="storeItem_info">
                            <p>상품명</p>
                            <p>상품가격</p>
                        </div>
                    </div>
                    <div class="storeItem">
                        <div class="storeItem_img"></div>
                        <button id="cartBtn" class="cartBtn"><img src="../static/images/icon/카트.svg"/><span>담기</span></button>
                        <div class="storeItem_info">
                            <p>상품명</p>
                            <p>상품가격</p>
                        </div>
                    </div>
                    <div class="storeItem">
                        <div class="storeItem_img"></div>
                        <button id="cartBtn" class="cartBtn"><img src="../static/images/icon/카트.svg"/><span>담기</span></button>
                        <div class="storeItem_info">
                            <p>상품명</p>
                            <p>상품가격</p>
                        </div>
                    </div>


                </div>
            </div>




        </div>
        <div class="footer" th:replace="footer :: footer"></div>
    </div>
</body>
</html>