<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class=""><!--[endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">


    <title>유스레시피</title>

    <link rel="stylesheet" href="../../static/css/templateBody.css"/>
    <link rel="stylesheet" href="../../static/css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/header.css"/>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap_20211222.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/ez_recipe_20240405.css">
    <script src="../../static/js/detailRecipe.js"></script>

    <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.7.1/kakao.min.js"
            integrity="sha384-kDljxUXHaJ9xAb2AzRd59KxjrFjzHa5TAoFQ6GbYTCAG0bjM55XohjjDT7tDDC01"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <script>
        Kakao.init(kakaoinit); // 사용하려는 앱의 JavaScript 키 입력
        var url = "http://www.localhost:8080/detaileRecipe?recipeNum=" + $("#recipeId").val()

        function shareMessage() {
            Kakao.Share.sendDefault({
                objectType: 'feed',
                content: {
                    title: $("#recipeTitle").text(),
                    description: '당신을 위한 레시피 - 유스레시피',
                    imageUrl: $("#thumbUrl").val(),
                    link: {
                        // [내 애플리케이션] > [플랫폼] 에서 등록한 사이트 도메인과 일치해야 함
                        webUrl: url,
                    },
                },
                social: {
                    viewCount: parseInt($("#recipeViews").text()),
                },
                buttons: [
                    {
                        title: '자세히 보기',
                        link: {
                            webUrl: url,
                        },
                    },
                ],
            });
        }
    </script>

</head>

<body>
<div class="templateBody">
    <header>
        <div class="header" th:replace="header :: header"></div>
    </header>
    <div class="mainBody">
        <div class="contentBody">
            <div class="container">
                <div id="contents_area_full" style="clear:both;">
                    <div class="view2_pic">
                        <div class="view_cate st2" style="z-index:10;">
                            <div class="view_cate_num"><span class="hit font_num" id="recipeViews"
                                                             th:text="${recipe.recipeViews}"></span></div>
                        </div>

                        <div class="centeredcrop">
                            <th:block th:if="${recipe.recipeThumbnail != null && recipe.recipeUrl == null}">
                            <img id="main_thumbs"
                                 th:src="@{'../static/recipeImages/'+${recipe.recipeThumbnail}}"
                                 alt="main thumb">
                            <input id="thumbUrl" type="hidden"
                                   th:value="'http://localhost:8080/static/recipeImages/'+${recipe.recipeThumbnail}">
                            <!--                            style="filter: blur(2px) contrast(75%);" 이미지 약간 블러 처리하는법-->
                            </th:block>
                            <th:block th:if="${recipe.recipeUrl != null}">
                                <iframe id="youtube" th:src="${recipe.getRecipeUrl()}"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen style="width: 760px;height: 350px;"></iframe>

                            </th:block>
                        </div>
                        <div class="user_info2">
                            <img class="app_block_link_remove user_info2_pic"
                                 th:src="|../../static/images/${recipe.recipeMember.image}|"
                                 style="background: #FFFFFF">
                            <span class="user_info2_name" th:text="${recipe.recipeWriter}">
                                <button id="friendDiv"
                                        type="button"
                                        class="btn btn-xs btn-default"
                                        onclick="doAddFriend()">소식받기</button>
                                </span>
                        </div>
                    </div>

                    <div class="view2_summary st3">
                        <h3 th:text="${recipe.recipeTitle}" id="recipeTitle"></h3>
                        <div class="btn_list st2">
                            <a onclick="javascript:shareMessage()"><img
                                    src="../../static/images/btn_view_talk.png"><span>공유</span></a>
                            <a href="#reply_tit"><img
                                    src="../../static/images/btn_view_re.png"><span>댓글<b
                                    class="st3" th:text="${recipe.recipeReplyList.size}"></b></span></a>
                        </div>
                    </div>


                    <div class="blank_bottom"></div>

                    <!--                재료-->
                    <div class="cont_ingre2">
                        <div class="best_tit">
                            <b>재료</b><span>Ingredients</span>
                        </div>
                        <div class="ready_ingre3" id="divConfirmedMaterialArea">
                            <ul>
                                <b class="ready_ingre3_tt">[재료]</b>
                                <li th:each="i, istate : ${recipe.recipeIngredientList}"
                                    style="align-items: flex-start; display: flex">
                                    <div class="ingre_list_name">
                                        <p
                                                th:text="${i.recipeIngredientNeed}">
                                        </p>
                                    </div>
                                    <span class="ingre_list_ea"
                                          th:text="${i.recipeIngredientQty+i.recipeIngredientUnit}"></span>
                                    <div style="align-items: flex-start; display: flex">
                                        <a class="ingredientCheckBoxA"
                                           style="width: 31px; align-items: center; justify-items: center" th:if="${session.userid!=null}">
                                            <input type="checkbox" class="ingredientCheckBox"
                                                   th:id="|ingredientCheckBox_${istate.index}|"
                                                   th:value="${i.recipeIngredientIngredient.id}">
                                        </a>
                                        <a th:href="@{'/detailIngredient?ingredientId='+${i.recipeIngredientIngredient.id}}"
                                           class="ingre_list_btn">상세보기</a>
                                    </div>
                                </li>
                            </ul>
                            <div style="display: flex;justify-content: flex-end;width: 100%" th:if="${session.userid!=null}">
                                <input type='button' class='btn btn-default' id='ingredientAllCheckBtn'
                                       onclick="javascript:allCheck('ingredientAllCheckBtn','allCheckBoxState','ingredientCheckBox')" value="모두 선택">
                                <input type="checkbox" class="allCheckBoxState" style="display: none">
                                <button type='button' class='btn btn-primary' data-bs-toggle='modal'
                                        data-bs-target='#exampleModal' id='ingredientModalBtn' onclick="addCart('ingredientCheckBox','/findIngredient')">
                                    장바구니 담기
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="view_step" id="obx_recipe_step_start" data-tag="웹-조리순서시작">
                        <div class="best_tit">
                            <b>조리순서</b><span>Steps</span>

                        </div>
                        <div th:id="'stepDiv'+${oState.index+1}"
                             th:class="'view_step_cont media step'+${oState.index+1}"
                             th:each="o,oState:${recipe.recipeRecipeOrderList}">
                            <div th:id="'stepdescr'+${oState.index+1}" class="media-body"
                                 th:text="${o.recipeDetail}"></div>
                            <div th:id="'stepimg'+${oState.index+1}" class="media-right">
                                <img th:src="@{'../static/recipeImages/'+${o.recipePhoto}}">
                            </div>
                        </div>
                    </div>

                    <!--  완성 사진-->
                    <div class="best_tit">
                        <b>완성 사진</b><span>completeimgs</span>
                    </div>
                    <div id="completeimgs" class="carousel slide" data-ride="carousel"
                         style="width:920px;margin:0 auto 60px;">
                        <div class="carousel-inner" role="listbox">
                            <div class="carouItem centercrop">
                                <img th:src="@{'../static/recipeImages/'+${recipe.recipeThumbnail}}"
                                     style="width:100%;">
                            </div>
                        </div>
                    </div>


                </div><!--/view_step -->
                <div class="recipeControlBox">
                    <button style="font-weight:bold;" class="btn-lg btn-delete "
                            th:if="${session.userid==recipe.recipeMember.userid}"
                            th:onclick="|javascript:deleteRecipe(${recipe.id})|">삭제
                    </button>
                    <!--                    <div style="width: 100%;display: inline-block"></div>-->
                    <button class="btn-lg btn-primary" th:if="${session.userid==recipe.recipeMember.userid}"
                            th:onclick="|location.href='@{'/updateRecipe?recipeId='+${recipe.id}}'|">수정
                    </button>
                    <button class="btn-lg btn-default" onclick="history.back()">목록</button>
                </div>
            </div>
            <div class="view_reply">
                <div class="reply_write" th:if="${session.userid != null}">
                    <form id="insCmtFrm1" method="post">
                        <input type="hidden" class="recipeId" name="recipeId" th:value="${recipe.id}">
                        <div class="gradeBox">
                            <input type="radio" class="gradeStar" name="gradeStar" value="1">
                            <input type="radio" class="gradeStar" name="gradeStar" value="2">
                            <input type="radio" class="gradeStar" name="gradeStar" value="3">
                            <input type="radio" class="gradeStar" name="gradeStar" value="4">
                            <input type="radio" class="gradeStar" name="gradeStar" value="5">
                            <p class="gradeText">해당 레시피의 별점을 적용해 주세요!</p>
                        </div>

                        <div class="input-group" style="width:auto;">
                        <textarea id="cmt_tx_content1" name="replyContent" class="replyContent form-control"
                                  placeholder="무엇이 궁금하신가요? 댓글을 남겨주세요."
                                  style="height:100px; width:100%; resize:none;"></textarea>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="insertReply()"
                                        style="height:100px; width:100px;">등록</button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="reply_tit" id="reply_tit">댓글
                    <span id="recipeCommentListCount"
                          th:text="${recipe.recipeReplyList.size}"></span>
                </div>
                <div class="goods_box_none" th:if="${recipe.recipeReplyList.size()==0}">
                    <img src="../../static/images/icon_none.png">
                    <p>등록된 댓글이 없습니다.</p>
                </div>
                <div id="recipeCommentList_1">
                    <div class="media reply_list" th:id="'replyDiv_'+${r.Id}" th:each="r : ${recipe.recipeReplyList}">
                        <div class="media-left">
                            <img
                                    class="media-object"
                                    th:src="|../../static/${r.replyMember.image}|"
                                    data-holder-rendered="true"></a></div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <b class="info_name_f" th:text="${r.replyMember.nickname}" style="float:left;"></b>
                                <div class="replyStarBox">
                                </div>
                                <img th:each="star : ${#numbers.sequence(1,r.replyGrade)}"
                                     style="display: inline-block; width: 20px; height: 20px"
                                     src="../../static/images/star2.png"/>
                                <img th:if="${r.replyGrade != 5}"
                                     th:each="star : ${#numbers.sequence((r.replyGrade)+1,5)}"
                                     style="display: inline-block; width: 20px; height: 20px"
                                     src="../../static/images/noneStar2.png"/>
                                <p th:text="${#temporals.format(r.replyDate, 'yyyy-MM-dd HH:mm')}"
                                   style="margin-left: 5px"></p><span th:if="${r.replyMember.Userid == session.userid}">|</span>
                                <a th:href="'javascript:deleteReply('+${r.Id}+')'"
                                   th:if="${r.replyMember.Userid == session.userid}">삭제</a>
                            </h4>

                            <p th:text="${r.replyContent}" style="float:left;width: 60%"></p>
                        </div>
                        <div id="replyCommentDiv_39706325" style="padding-left:50px;"></div>
                    </div>

                </div>

            </div><!-- /view_reply -->
        </div>
        <!-- Modal -->
        <div class="modal fade in" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" style="width:520px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">장바구니에 담기</h5>
                    </div>
                    <div class="modal-body">
                        <div style="width: auto; height:500px; border: 1px solid; overflow: auto">
                            <table class="modal_IngredientSelect_column" style="width: 100%;">
                                <thead>
                                    <tr style="width: auto;">
                                        <td>상품사진</td>
                                        <td>재료명</td>
                                        <td>가격</td>
                                        <td>수량</td>
                                        <td>체크</td>
                                    </tr>
                                </thead>
                                <tbody id="modal_tbody">

                                </tbody>
                            </table>
                            <ul style="margin-right: 10px; padding:0 0 0 0" id="ingredientList">

                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type='button' class='btn btn-default' id='ModalAllCheckBtn'
                               onclick="javascript:allCheck('ModalAllCheckBtn','modalAllCheckBoxState','modalCheckBox')" value="선택 해제" style="background: #f5f5f5">
                        <input type="checkbox" class="modalAllCheckBoxState" style="display: none" checked>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-primary" onclick="addCart('modalCheckBox','/addCartList')"
                                data-bs-dismiss="modal">장바구니 담기
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /contents_area -->
    <div class="footer" th:replace="footer :: footer"></div>
</div>
</body>
</html>