<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>유스레시피</title>
    <link rel="stylesheet" href="../../static/css/templateBody.css"/>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/header.css"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../../static/css/emailAuthentication.css"/>


    <script>
        $(function (){
            $("#check").click(function (event){
                if ($("cert").val() == "") {
                    alert("인증번호를 입력하세요");
                    event.preventDefault();
                    return;
                }

                if ($("#num").val() != $("#cert").val()){
                    alert("인증번호가 틀렸습니다");
                    event.preventDefault();
                    return;
                }
            })
        })
    </script>
</head>
<body>
<div class="templateBody">
    <header>
        <div class="header" th:replace="header :: header"></div>
    </header>
    <div class="mainBody">
        <div class="e65_424">
            <div>
                <span class="e65_435">이메일 인증</span>
            </div>
            <div>
                <span class="e65_469">입력하신 이메일로 인증코드를 발송하였습니다.<br>
                 인증코드를 입력해주세요 </span>
            </div>
            <form action="/all/emailAuthentication" method="post">
                <div style="width: 390px">
                    <input type="hidden" name="${_csrf.parameterName }" value="${_csrf.token }">
                    <input type="hidden" th:value="${num}" name="num" id="num">
                    <input type="hidden" th:value="${userid}" name="userid">
                    <span class="e65_432">인증코드</span>
                    <input class="e65_428" type="text" id="cert"/>
                </div>
                <div>
                    <input class="e65_429" type="submit" id="check" value="인증하기"/>
                </div>
            </form>
        </div>

    </div>
    <div class="footer" th:replace="footer :: footer"></div>
</div>
</body>
</html>

