<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>유스레시피</title>
    <link rel="stylesheet" href="../../static/css/templateBody.css" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/findPwdOk.css">
    <script>
        $(document).ready(function(){
            $("header").load("../header.html");
            $(".footer").load("../footer.html");
        });
    </script>
</head>
<body>
<div class="templateBody">
    <header></header>
    <div class="mainBody">
        <div class=e65_567>
            <div>
                <span>새 비밀번호 </span>
            </div>
            <div>
                <span>새 비밀번호를 입력해 주세요 </span>
            </div>
            <div>
                <form action="">
                    <div>
                        <span>새 비밀번호</span>
                    </div>
                    <div>
                        <input type="password" name="password"/>
                    </div>
                    <div>
                        <span>비밀번호 확인</span>
                    </div>
                    <div>
                        <input type="password" name="password2"/>
                    </div>
                </form>
                <div>
                    <input type="submit" class="e65_573" value="비밀번호 확인"/>
                </div>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</div>
</body>
</html>

