<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>유스레시피</title>
    <link rel="stylesheet" href="../../static/css/templateBody.css" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/header.css"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/findIdOk.css">

    <script>
        $(function (){
            $(".e65_573").click(function (){
                location.href = "/login"
            })
        })
    </script>
</head>
<body>
<div class="templateBody">
    <header>
        <div class="header" th:replace="header :: header"></div>
    </header>
    <div class="mainBody">
        <div class=e65_567>
            <div class="e65_591"></div>
            <div>
                    <span class="e65_574" th:text="${name + '님의 아이디는'}&#10; + ${userid + '입니다'}">
                        <br>
                    </span>
            </div>
            <div>
                <span class="info">정보 보호를 위해 아이디의 일부만 보여집니다.</span>
            </div>
            <div>
                <button class="e65_573">로그인 하러가기</button>
            </div>
        </div>
    </div>
    <div class="footer" th:replace="footer :: footer"></div>
</div>
</body>
</html>

