<html lang="ko" xmlns:th="http://www.thymeleaf.org" class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>요리를 즐겁게~ 만개의레시피</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/templateBody.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/header.css"/>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/login.css">

</head>
<body>

<div class="templateBody" style="align-content: flex-start; min-height: 700px">
    <header>
        <div class="header" th:replace="header :: header"></div>
    </header>
    <div class="mainBody">
        <div class="container_etc" style="width:460px;">
            <h2 style="font-family: Cafe24Dangdanghae">로그인</h2>

            <div class="panel-body">
                <form name="form_login" id="formLogin" method="post" action="/login">
                    <input type="hidden" name="{_csrf.parameterName }" value="{_csrf.token }">
                    <div class="form_login_in" style="padding-right:22px;">
                        <input type="text" name="username" class="" id="id_user" placeholder="아이디">
                        <span id="idMsg" style="display:none; color:#FF0000;">아이디를 입력해주세요.</span>
                    </div>
                    <br>
                    <div class="form_login_in">
                        <input type="password" name="password" id="tx_passwd" placeholder="비밀번호">
                        <span id="pwMsg" style="display:none;color:#FF0000;">비밀번호를 입력해주세요.</span>
                    </div>
                    <div class="form_login_btn">
                        <button class="loginBtn" type="submit" style="font-family: Cafe24Dangdanghae;">로그인</button>
                    </div>
                </form>

                <div class="join_btn3">
                    <a href="/all/findUserid">아이디/비밀번호 찾기</a>
                    <a href="/join">회원가입</a>
                </div>
            </div>
            <a class="join_btn2_k" href="/oauth2/authorization/kakao">
                <button type="submit" class="btn" id="kakao" style="background-color: #FFE701">
                    <img src="/static/images/image_31.png" alt="카카오" style="width: 10%; padding-bottom: 5px">
                    <span>카카오로 간편 시작</span>
                </button>
            </a>
            <a href="/oauth2/authorization/naver">
            <div class="join_btn2_k">
                <button type="submit" class="btn" style="background-color: #01C73C">
                    <img src="/static/images/image_29.png" alt="네이버" style="width: 10%; padding-bottom: 5px">
                    <span style="color: #ffffff">네이버로 간편 시작</span></button>
            </div>
            </a>
            <a href="/oauth2/authorization/google">
                <div class="join_btn2_k">
                    <button type="submit" class="btn">
                        <img src="/static/images/logo_google_1.png" alt="구글" style="width: 10%; ">
                        <span>구글로 간편 시작</span>
                    </button>
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>

