<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>유스레시피</title>
    <link rel="stylesheet" href="../../static/css/templateBody.css"/>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../../static/css/pwdChange.css"/>
    <link rel="stylesheet" href="../../static/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/header.css"/>
    <script>
        $(function (){
            $("#pwd_btn").click(function (event){
                var num = /[0-9]/;
                var eng = /[a-zA-Z]/;
                var spe = /[~!@#$%^&*()_+|<>?:{}]/;

                var pw = $("#password").val();
                var pw2 = $("#password2").val();

                if (pw !== pw2) {
                    alert("비밀번호가 일치하지 않습니다");
                    event.preventDefault();
                    return;
                }

                // if(pw.length < 10){
                //     alert('비밀번호는 10자 이상 입력해주세요');
                //     event.preventDefault();
                //     return;
                // }
                //
                // if(num.test(pw) == 0 || eng.test(pw) == 0 || spe.test(pw) == 0){
                //     alert('비밀번호는 영어 숫자 특수문자 1개 이상 포함되어 있어야합니다');
                //     event.preventDefault();
                //     return;
                // }

                if (pw.val() === "") {
                    alert("비밀번호 확인를 입력하세요");
                    event.preventDefault();
                    return;
                }
            })
        })
    </script>

</head>
<body>
<div class="templateBody">
    <header>
        <div class="header" th:replace="header :: header"></div>
    </header>

    <div class="mainBody">
        <form action="/all/newPwd" method="post">
            <input type="hidden" name="${_csrf.parameterName }" value="${_csrf.token }">
            <input type="hidden" th:value="${userid}" name="userid">
            <div class="e65_476">
                <div>
                    <span class="e65_483">새 비밀번호</span>
                </div>
                <div>
                    <span class="e65_497">새로운 비밀번호를 입력해주세요 </span>
                </div>
                <div style="width: 388px">
                    <span class="e65_502">새 비밀번호</span>
                    <input class="e65_500" type="password" name="password" id="password"/>
                </div>

                <div style="width: 388px">
                    <span class="e65_503">비밀번호 확인</span>
                    <input class="e65_501" type="password" name="password2" id="password2"/>
                </div>
                <div>
                    <input class="e65_480" type="submit" value="비밀번호 확인" id="pwd_btn"/>
                </div>
            </div>
        </form>
    </div>
    <div class="footer" th:replace="footer :: footer"></div>
</div>
</body>
</html>

